
@{
    ViewBag.Title = "_Footer";
}
<body>
    <div class="footer">
        <div class="container">
            <div class="footer footer_contact ">
                <div class="row footer" style="margin-top:20px">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <br />
                        <div id="info">THÔNG TIN LIÊN HỆ </div><br />
                        <p>
                            <span class="iconfooter"><img src="~/Content/image/diachi.png" /></span>
                            Địa chỉ: Hồ Tùng Mậu,Trường Thi, &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Tp. Vinh, Nghệ An, Việt Nam
                            <br />
                            <br />
                            <span class="iconfooter"><img src="~/Content/image/phone.png" /> </span>
                            Điện thoại: 0962.861.421
                            <br />
                            <br />
                            <span class="iconfooter"><img src="~/Content/image/email.png" /></span>
                            Email: NgheAnFood@gmail.com
                        </p>
                    </div>
                    <div class="col-md-5">
                        <br />
                        <div class="info">
                            GIỚI THIỆU<br /><br />
                            <p>
                                Nghệ An là mảnh đất non nước hữu tình đẹp như bức tranh thủy mặc.
                                Vẻ đẹp kỳ thú pha lẫn chút nguyên sơ luôn làm say đắm bất cứ ai đã từng đi qua và dừng chân ghé lại nơi này.
                                Không chỉ có thế, trên mảnh đất hồn hậu,
                                địa linh nhân kiệt đã sản sinh ra nhiều đặc sản mà ai "lỡ" nếm thử một lần cũng vương vấn mãi không thôi.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <br />
                        <div class="info1">
                            SẢN PHẨM<br /> <br />
                            <p>
                                Món Ăn<br />
                                Các Loai Bánh<br />
                                Làm Quà
                            </p>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
       <div class="row copy-right"><p>&copy; @DateTime.Now.Year - NguyệtDương</p></div>     
    </div>
</body>



