
@{
    ViewBag.Title = "BanhDaDoLuong";
}
<div class=" content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 dv-child-left">
                <h3 class="title">ĐẶC SẢN BÁNH ĐA ĐÔ LƯƠNG</h3>
                <div class="content-top">
                    <div>
                        <div id="showText">
                            <p style="text-align: justify;">
                                <strong>Bánh đa - món ăn dân dã có ở khắp Việt Nam. Nếu như bánh đa miền Bắc có kích thước khá lớn, thơm bùi vị lạc, vừng thì bánh đa miền Trung chỉ bé vừa chiếc đĩa, nhưng khi ăn có đủ tứ vị chua, cay, mặn, ngọt nhờ gia vị được thêm vào với bột xay từ loại gạo mới trong quá trình làm bánh.</strong>
                                <br />
                                Nhắc đến bánh đa miền Trung là nhớ ngay đến bánh đa Đô Lương của Xứ Nghệ. Suốt cả vùng Nghệ Tĩnh, người dân đã có thói quen sử dụng và rất ưa chuộng món ăn bình dân này.
                                <br /><br />
                                Chiếc bánh nhỏ nhắn, có đường kính khoảng 20 cm, bên trên rắc nhiều vừng đen nên khi ăn rất bùi và thơm. Người làm bánh đã khéo léo đem tỏi, ớt, hạt tiêu... giã nhuyễn, trộn đều với bột gạo (loại gạo hảo hạng của địa phương), tạo nên vị cay nồng, đậm đà, vô cùng hấp dẫn.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/Banh-Da/banhda02jpg.jpg" alt="Thơm ngon đặc sản bánh đa xứ Nghệ" border="0">
                                </a>
                                <br />
                                Ở Đô Lương, người dân thường nướng bánh đa bằng than hoa hoặc chiên với dầu ăn, mỡ để tạo nên chiếc bánh mỏng, nhẹ, giòn. Bánh đa chiên có vị ngậy, béo và mặc dù có sẵn vị cay nồng nhưng người ăn vẫn thường thêm tương ớt, nước mắm ớt... để tăng thêm phần thú vị khi thưởng thức.

                                <br /><br />
                                Người dân Đô Lương không ai là không biết bí quyết làm bánh đa. Tôi từng xem người dân Bắc Giang quạt than, nướng một bánh đa to như chiếc mâm đồng trong 5 phút, nhưng công đoạn làm bánh thì chưa biết.     
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/Banh-Da/banhda01.jpg" alt="Thơm ngon đặc sản bánh đa xứ Nghệ" border="0"><br />
                                    <span style="font-size: 11px;">Bánh đa Đô Lương - món quà quê dân dã nhưng đầy ý nghĩa của người miền Trung</span>
                                </a>
                                
                                <br />
                                Lần này về thăm xứ Nghệ, một người bạn gốc Đô Lương đã chia sẻ với tôi tường tận. Để làm ra chiếc bánh đa đặc sắc đúng hương vị quê hương phải dụng công rất nhiều.
                                <br />
                                Đầu tiên, gạo phải ngâm một đêm, sau đó nghiền nhỏ thành bột. Bột gạo pha với nước vừa đủ, tạo nên độ sền sệt đủ để tráng một lớp lên chiếc vỉ làm từ vải, bên dưới đặt một nồi nước sôi. Vừng đen rửa sạch, ráo nước, rắc đều lên cả hai mặt bánh. Tỏi, ớt, tiêu, bột ngọt được thêm vào ở giai đoạn nào, rắc ra sao để vẫn giữ được mùi thơm tươi ngon ban đầu của gia vị là bí quyết riêng của từng lò bánh. 
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/Banh-Da/banhda03.jpg" alt="Thơm ngon đặc sản bánh đa xứ Nghệ" border="0"><br />
                                    <span style="font-size: 11px;">Chiếc bánh nhỏ nhắn có ở khắp nơi, để ăn chơi...</span>
                                </a>
                                <br />
                                Bánh đa Đô Lương là món quà dễ ăn, tiện lợi. Đi khắp các con phố, từ bàn tiệc sang trọng cho đến quán bia hơi vỉa hè, đâu đâu cũng thấy để sẵn một chục bánh đa. Việc này khiến tôi liên tưởng đến bát dưa góp lúc nào cũng có sẵn trên bàn ở miền Bắc
                                <br />
                                Bánh đa Đô Lương nhỏ nhắn, có thể ăn chơi, ăn riêng, chấm với các loại nước xốt, ăn kèm với lươn cay, bánh mướt, bánh bèo, ốc niêu... và chắc hẳn khoái nhất là “cánh mày râu” trên bàn nhậu. Ăn một miếng bánh giòn tan, uống một ngụm bia mát lạnh đã thấy cả buổi chiều thật sảng khoái.
                            </p>
                            <br />
                            <a href="#" alt="" *="" class="lightbox">
                                <img src="~/Content/Kham-pha/Banh-Da/banhda04.jpg"  alt="Thơm ngon đặc sản bánh đa xứ Nghệ" border="0">
                            </a>
                            <br />
                            <br />
                            <a href="#" alt="" *="" class="lightbox">
                                <img src="~/Content/Kham-pha/Banh-Da/banhda05.jpg"  alt="Thơm ngon đặc sản bánh đa xứ Nghệ" border="0"><br />
                                <span style="font-size: 11px;">ăn cùng bánh bèo; ốc niêu ...</span>
                            </a>
                            <br />
                            <br />
                            <a href="#" alt="" *="" class="lightbox">
                                <img src="~/Content/Kham-pha/Banh-Da/banhda06.jpg" alt="Thơm ngon đặc sản bánh đa xứ Nghệ" border="0"><br />
                                <span style="font-size: 11px;">với bánh mướt...</span>
                            </a>
                            <br />
                            <br />
                            <a href="#" alt="" *="" class="lightbox">
                                <img src="~/Content/Kham-pha/Banh-Da/banhda07.jpg" alt="Thơm ngon đặc sản bánh đa xứ Nghệ" border="0"><br />
                                <span style="font-size: 11px;">... tương ớt đều rất ngon và thú vị</span>
                            </a>
                            <br />
                            <a href="#" alt="" *="" class="lightbox">
                                <img src="~/Content/Kham-pha/Banh-Da/banhda08.jpg"  alt="Thơm ngon đặc sản bánh đa xứ Nghệ" border="0">
                            </a>
                            <br />
                            <p style="text-align:right;">
                                <strong>Nguyệt Dương</strong>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 dv-child-right">
                <div class="product">
                    <div class="dv_content_leftsp">
                        <br />
                        <h3>DANH MỤC SẢN PHẨM</h3>
                        <ul class="dv_list_dmsp">
                            <li>
                                <a href="#">Món Ăn</a>
                                <span class="SHOW_menu_left" data="Mon-An">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Mon-An" style="overflow: hidden;">
                                    <li><a href="#">Cháo Lươn Vinh</a></li>
                                    <li><a href="#">Cháo Canh</a></li>
                                    <li><a href="#">Mực Nhảy Nướng Lò</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Bánh - Hoa - Quả</a>
                                <span class="SHOW_menu_left" data="Banh-Hoa-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Banh-Hoa-Qua" style="overflow: hidden;">
                                    <li><a href="#">Bánh Đa Đô Lương</a></li>
                                    <li><a href="#">Bánh Mướt Giò</a></li>
                                    <li><a href="#">Bánh Gai</a></li>
                                    <li><a href="#">Bánh Lá Gói</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Làm Quà</a>
                                <span class="SHOW_menu_left" data="Lam-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Lam-Qua" style="overflow: hidden;">
                                    <li><a href="#">Nhút Thanh Chương</a></li>
                                    <li><a href="#">Tương Nam Đàn</a></li>
                                    <li><a href="#">Bánh Đa</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                        </ul>
                        <script type="text/javascript">
                            $(".SHOW_menu_left").click(function () {
                                var data = $(this).attr('data');
                                var data_text = $(this).html();
                                if (data_text == "+") {
                                    $(".SHOW_menu_left").each(function (index) {
                                        if ($(this).html() == "-") {
                                            $(this).html('+');
                                        }
                                    });
                                    $(this).html("-");
                                    $(".dv_list_dmsp_2").hide('500');
                                    $(".ul-data-" + data).show('500');
                                }
                                else if (data_text == "-") {
                                    $(this).html("+");
                                    $(".ul-data-" + data).hide('500');
                                }
                            });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>VIDEO</h3>
                        <iframe class="video" src="https://www.youtube.com/embed/GnNcvkOlo-k" frameborder="0" allowfullscreen></iframe>                        <script type="text/javascript" src="/templates/1_shop_test/js/jquery.marquee.min.js"></script>
                        <script>
                            $('.marqueew').marquee(
                                {
                                    duration: 19000, gap: 0, delayBeforeStart: 0,
                                    direction: 'up',
                                    duplicated: true,
                                    pauseOnHover: true,
                                    startVisible: true
                                });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>TIN TỨC HOT</h3>
                        <div id="newsRight">
                            <a href="#" title="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <img src="~/Content/image/ruoi.JPG" width="230" alt="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <h4>Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <img src="~/Content/image/tuong2.jpg" width="230" alt="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <h4>Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Bữa cỗ trong văn hóa ẩm thực xứ Nghệ">
                                <img src="~/Content/image/bua-co-trong-van-hoa-am-thuc-xu-nghe-1.jpg" width="230" alt="Hòa chung trong bức tranh văn hóa nông nghiệp lúa nước, người dân xứ Nghệ cũng mang những nét truyền">
                                <h4>Bữa cỗ trong văn hóa ẩm thực xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua">
                                <img src="~/Content/image/camxadoai.jpg" width="230" alt="Loại cam đặc biệt chỉ trồng trên vùng đất Xã Đoài, Nghệ An mới có vị thơm, ngọt ...">
                                <h4>Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua</h4>
                                <div class="clear"></div>
                            </a>

                        </div>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>Tags</h3>
                        <ul class="tags_links">
                            <li><a href="./GioiThieu">Mực nháy</a></li>
                            <li><a href="#">Cam xã Đoài </a></li>
                            <li><a href="#">Tương Nam Đàn</a></li>
                            <li><a href="#">Xứ Nghệ</a></li>
                            <li><a href="#">Mực Luộc</a></li>
                            <li><a href="#">Mực Hấp</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


