
@{
    ViewBag.Title = "BanhGai";
}

<div class=" content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 dv-child-left">
                <h3 class="title">ĐẶC SẢN BÁNH GAI</h3>
                <div class="content-top">
                    <div>
                        <div id="showText">
                            <p style="text-align: justify;">
                                <strong> Thơm ngon hương vị đặc sản bánh gai dốc Dừa.</strong><br />
                                Tại dốc Dừa (xã Tường Sơn, Anh Sơn, Nghệ An), không biết từ bao giờ đã hình thành nghề bánh gai đặc sản, trở thành địa chỉ mua quà nổi tiếng của xứ Nghệ.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/gai01.jpg"  alt="Thơm ngon đặc sản bánh gai xứ Dừa" border="0">
                                </a>
                                <br />
                                Bánh gai, món ăn đặc sản được chế biến từ bột đậu xanh, nếp, cùi dừa, đường, mật và đặc biệt là lá gai giã nhỏ.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                   <img src="~/Content/Kham-pha/gai02.jpg" alt="Thơm ngon đặc sản bánh gai xứ Dừa" border="0">
                                </a>
                                <br />
                                Những người làm bánh thực sự là những nghệ nhân với bàn tay khéo léo, tinh tế, tạo ra những chiếc bánh với công thức bí truyền.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/gai03.jpg" alt="Thơm ngon đặc sản bánh gai xứ Dừa" border="0">
                                </a>
                                <br />
                                Tại cơ sở sản xuất bánh gai xứ Dừa, có hàng chục người làm, với tiền công vài triệu đồng/tháng.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">

                                    <img src="~/Content/Kham-pha/gai04.jpg" alt="Thơm ngon đặc sản bánh gai xứ Dừa" border="0">
                                </a>
                                <br />
                                Phần nhân bánh gai gồm mật, bột nếp, đậu xanh, cùi dừa, lá gai được vo thành viên tròn.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">

                                    <img src="~/Content/Kham-pha/gai05.jpg" alt="Thơm ngon đặc sản bánh gai xứ Dừa" border="0">
                                </a>
                                <br />
                                Bánh được gói bằng lá chuối khô, phải có những người chuyên dùng tay là lá chuối khô cho phẳng.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">

                                    <img src="~/Content/Kham-pha/gai06.jpg" alt="Thơm ngon đặc sản bánh gai xứ Dừa" border="0">
                                </a>
                                <br />
                                Bánh gai có hương vị ngọt, thơm, dẻo, ăn nhiều không ngán, thực sự là món quà quý cho du khách gần xa.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/gai07.jpg" alt="Thơm ngon đặc sản bánh gai xứ Dừa" border="0">
                                </a>
                                <br />
                                Bánh gai có hương vị ngọt, thơm, dẻo, ăn nhiều không ngán, thực sự là món quà quý cho du khách gần xa.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">

                                    <img src="~/Content/Kham-pha/gai08.pg.jpg"  alt="Thơm ngon đặc sản bánh gai xứ Dừa" border="0">
                                </a>
                                <br />
                                Tại dốc Dừa, xã Tường Sơn (huyện Anh Sơn, tỉnh Nghệ An), từ lâu đã hình thành “thương hiệu” bánh gai xứ Dừa.                                <br />
                            </p>
                            <p style="text-align:right;">
                                <strong>Nguyệt Dương</strong>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 dv-child-right">
                <div class="product">
                    <div class="dv_content_leftsp">
                        <br />
                        <h3>DANH MỤC SẢN PHẨM</h3>
                        <ul class="dv_list_dmsp">
                            <li>
                                <a href="#">Món Ăn</a>
                                <span class="SHOW_menu_left" data="Mon-An">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Mon-An" style="overflow: hidden;">
                                    <li><a href="#">Cháo Lươn Vinh</a></li>
                                    <li><a href="#">Cháo Canh</a></li>
                                    <li><a href="#">Mực Nhảy Nướng Lò</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Bánh - Hoa - Quả</a>
                                <span class="SHOW_menu_left" data="Banh-Hoa-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Banh-Hoa-Qua" style="overflow: hidden;">
                                    <li><a href="#">Bánh Đa Đô Lương</a></li>
                                    <li><a href="#">Bánh Mướt Giò</a></li>
                                    <li><a href="#">Bánh Gai</a></li>
                                    <li><a href="#">Bánh Lá Gói</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Làm Quà</a>
                                <span class="SHOW_menu_left" data="Lam-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Lam-Qua" style="overflow: hidden;">
                                    <li><a href="#">Nhút Thanh Chương</a></li>
                                    <li><a href="#">Tương Nam Đàn</a></li>
                                    <li><a href="#">Bánh Đa</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                        </ul>
                        <script type="text/javascript">
                            $(".SHOW_menu_left").click(function () {
                                var data = $(this).attr('data');
                                var data_text = $(this).html();
                                if (data_text == "+") {
                                    $(".SHOW_menu_left").each(function (index) {
                                        if ($(this).html() == "-") {
                                            $(this).html('+');
                                        }
                                    });
                                    $(this).html("-");
                                    $(".dv_list_dmsp_2").hide('500');
                                    $(".ul-data-" + data).show('500');
                                }
                                else if (data_text == "-") {
                                    $(this).html("+");
                                    $(".ul-data-" + data).hide('500');
                                }
                            });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>ViDeo</h3>
                        <iframe class="video" src="https://www.youtube.com/embed/52aEe42KW68" frameborder="0" allowfullscreen></iframe>                        <script type="text/javascript" src="/templates/1_shop_test/js/jquery.marquee.min.js"></script>
                        <script>
                            $('.marqueew').marquee(
                                {
                                    duration: 19000, gap: 0, delayBeforeStart: 0,
                                    direction: 'up',
                                    duplicated: true,
                                    pauseOnHover: true,
                                    startVisible: true
                                });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>TIN TỨC HOT</h3>
                        <div id="newsRight">
                            <a href="#" title="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <img src="~/Content/image/ruoi.JPG" width="230" alt="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <h4>Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <img src="~/Content/image/tuong2.jpg" width="230" alt="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <h4>Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Bữa cỗ trong văn hóa ẩm thực xứ Nghệ">
                                <img src="~/Content/image/bua-co-trong-van-hoa-am-thuc-xu-nghe-1.jpg" width="230" alt="Hòa chung trong bức tranh văn hóa nông nghiệp lúa nước, người dân xứ Nghệ cũng mang những nét truyền">
                                <h4>Bữa cỗ trong văn hóa ẩm thực xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua">
                                <img src="~/Content/image/camxadoai.jpg" width="230" alt="Loại cam đặc biệt chỉ trồng trên vùng đất Xã Đoài, Nghệ An mới có vị thơm, ngọt ...">
                                <h4>Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua</h4>
                                <div class="clear"></div>
                            </a>

                        </div>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>Tags</h3>
                        <ul class="tags_links">
                            <li><a href="./GioiThieu">Đất Hồng Lam</a></li>
                            <li><a href="#">Chim bồ câu </a></li>
                            <li><a href="#">Thịt chó </a></li>
                            <li><a href="#">Xứ Nghệ</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


