
@{
    ViewBag.Title = "BanhLaGoi";
}

<div class=" content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 dv-child-left">
                <h3 class="title">ĐẶC SẢN BÁNH GÓI</h3>
                <div class="content-top">
                    <div>
                        <div id="showText">
                            <p style="text-align: justify;">
                                <strong> Bánh gói - quà quê dân dã.</strong><br />
                                Tham quan “Ngày hội bánh dân gian Nam bộ” ở Cần Thơ đầu tháng 2, nhìn thấy những chiếc bánh gói dân dã, bình dị như tên gọi của nó, những ký ức tuổi thơ chợt ùa về...
                                <br />
                                <a href="#" alt="" *="" class="lightbox">

                                    <img src="~/Content/Kham-pha/banhgoi.jpg"  alt="Thơm ngon đặc sản bánh gói xứ Nghệ" border="0">
                                </a>
                                <br />
                                Hồi đó, cứ rãnh rỗi công việc đồng áng, gia đình tôi lại tranh thủ làm bánh gói. Những chiếc bánh gói dân dã, bình dị có dạng hình chữ nhật dẹt, phủ bên ngoài là lá chuối màu cỏ úa, bên trong bột gạo trắng ngần, chính giữa nhân đậu xanh vàng ươm trông thật bắt mắt. Thoạt nhìn cứ tưởng làm món bánh này rất dễ dàng, nhưng được mục sở thị các bà các chị ngồi gói bánh, tôi mới cảm nhận được sự khéo tay, chịu khó của các nghệ nhân miệt vườn miền Tây.
                                <br />
                                
                                Để được chiếc bánh gói ngon miệng, phải ngâm gạo trước một đêm và chuẩn bị những nguyên liệu cần thiết khác (lá chuối rọc sẵn lau sạch cắt hình vuông, dừa khô, đậu xanh, đường, muối...). 
                                <br />
                                Gạo để làm bánh phải là thứ gạo ngon, hạt dài, không lẫn tạp chất. Gạo xay thành bột cho vào bòng buộc chặt miệng, lấy vật nặng dằn lên cho ráo nước. Dừa nạo lấy nước cốt cho vào tô chia ra làm hai phần, một phần dành cho phần pha bột và thắng nước cốt dừa sau này, một phần nấu cùng đậu xanh đánh nhừ, vò thành từng viên cỡ trái nhãn cho vào dĩa. 
                                <br />
                                Khi mọi thứ đã sẵn sàng, cho bột vào thau cùng nước cốt dừa, đường, muối trộn đều cho vừa khẩu vị. Cho hỗn hợp bột vào nồi bắc lên bếp với ngọn lửa liu riu, dùng vá quậy đều tay không ngơi nghỉ cho đến khi bột vừa chín tới, có độ deo dẻo, sền sệt (quê tôi gọi là lấy trùng), nhắc xuống mới bắt đầu việc gói bánh.
                                <br />
                                Công đoạn gói bánh phải nhanh tay, tránh để bột nguội khó “bắt bột”. Với động tác nhanh nhẹn, khéo léo, người gói dùng tay ngắt từng cục bột đều nhau đặt vào giữa tấm lá chuối, lấy nhân đậu xanh để lên trên. Kế đến, gấp bốn mép lá chuối lại thành bốn cạnh vuông góc đều đặn và dùng tay ép nhẹ bánh dẹp xuống cho bột chảy đều 4 góc, tránh mạnh tay để không bị rách bột bị chảy ra và xếp bánh vào xửng cho đến khi hoàn tất.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">

                                    <img src="~/Content/Kham-pha/banhgòi.jpg"  alt="Thơm ngon đặc sản bánh goi xứ Nghệ" border="0">
                                </a>
                                <br />
                                Sau cùng, bắc xửng lên hấp cách thủy. Chừng khoảng 30 phút sau khi mùi thơm ngát nơi xửng bốc lên, giở xửng ra, cho bánh vào rổ là xong. Để tăng hương vị món bánh gói, phần thắng nước cốt dừa cũng là khâu quan trong không kém. Để có nước cốt dừa sệt ngon, phải thêm vào một ít bột năng, đường, muối cho vừa khẩu vị, và khi múc ra dĩa ăn phải rắc lên bên trên một ít đậu phộng rang giã giập nữa.

                                <br />
                                Giờ, ba má tôi đã rời quê lên thành phố. Mỗi khi thèm nhớ chiếc bánh gói ngày xưa, má tranh thủ làm món bánh này vào những ngày nghỉ cuối tuần. Thật đầm ấm và hạnh phúc khi cả nhà họp mặt đông đủ để thưởng thức món bánh gói do má làm. 
                                <br />
                                Dùng tay lột lớp lá chuối ra, phần bột trắng nõn nà, mịn màng cùng với màu vàng nhạt của đậu xanh hiện ra trông thật bắt mắt và hấp dẫn! Chan muỗng nước cốt dừa, rắc ít đậu phộng rang lên và dùng muỗng múc từng miếng bánh cho vào miệng nhai chầm chậm… Vị mềm dẻo, ngọt thơm của bột, béo của đậu xanh, của nước cốt dừa, của đậu phộng rang… hòa quyện và lan tỏa vào miệng như đánh thức mọi giác quan, khiến chúng tôi nhớ quê nhà da diết...                           
                                
                            </p>
                            <p style="text-align:right;">
                                <strong>Nguyệt Dương</strong>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 dv-child-right">
                <div class="product">
                    <div class="dv_content_leftsp">
                        <br />
                        <h3>DANH MỤC SẢN PHẨM</h3>
                        <ul class="dv_list_dmsp">
                            <li>
                                <a href="#">Món Ăn</a>
                                <span class="SHOW_menu_left" data="Mon-An">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Mon-An" style="overflow: hidden;">
                                    <li><a href="#">Cháo Lươn Vinh</a></li>
                                    <li><a href="#">Cháo Canh</a></li>
                                    <li><a href="#">Mực Nhảy Nướng Lò</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Bánh - Hoa - Quả</a>
                                <span class="SHOW_menu_left" data="Banh-Hoa-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Banh-Hoa-Qua" style="overflow: hidden;">
                                    <li><a href="#">Bánh Đa Đô Lương</a></li>
                                    <li><a href="#">Bánh Mướt Giò</a></li>
                                    <li><a href="#">Bánh Gai</a></li>
                                    <li><a href="#">Bánh Lá Gói</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Làm Quà</a>
                                <span class="SHOW_menu_left" data="Lam-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Lam-Qua" style="overflow: hidden;">
                                    <li><a href="#">Nhút Thanh Chương</a></li>
                                    <li><a href="#">Tương Nam Đàn</a></li>
                                    <li><a href="#">Bánh Đa</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                        </ul>
                        <script type="text/javascript">
                            $(".SHOW_menu_left").click(function () {
                                var data = $(this).attr('data');
                                var data_text = $(this).html();
                                if (data_text == "+") {
                                    $(".SHOW_menu_left").each(function (index) {
                                        if ($(this).html() == "-") {
                                            $(this).html('+');
                                        }
                                    });
                                    $(this).html("-");
                                    $(".dv_list_dmsp_2").hide('500');
                                    $(".ul-data-" + data).show('500');
                                }
                                else if (data_text == "-") {
                                    $(this).html("+");
                                    $(".ul-data-" + data).hide('500');
                                }
                            });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>ViDeo</h3>
                        <iframe class="video" src="https://www.youtube.com/embed/3M4rBZsKfcU" frameborder="0" allowfullscreen></iframe>                        <script type="text/javascript" src="/templates/1_shop_test/js/jquery.marquee.min.js"></script>
                        <script>
                            $('.marqueew').marquee(
                                {
                                    duration: 19000, gap: 0, delayBeforeStart: 0,
                                    direction: 'up',
                                    duplicated: true,
                                    pauseOnHover: true,
                                    startVisible: true
                                });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>TIN TỨC HOT</h3>
                        <div id="newsRight">
                            <a href="#" title="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <img src="~/Content/image/ruoi.JPG" width="230" alt="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <h4>Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <img src="~/Content/image/tuong2.jpg" width="230" alt="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <h4>Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Bữa cỗ trong văn hóa ẩm thực xứ Nghệ">
                                <img src="~/Content/image/bua-co-trong-van-hoa-am-thuc-xu-nghe-1.jpg" width="230" alt="Hòa chung trong bức tranh văn hóa nông nghiệp lúa nước, người dân xứ Nghệ cũng mang những nét truyền">
                                <h4>Bữa cỗ trong văn hóa ẩm thực xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua">
                                <img src="~/Content/image/camxadoai.jpg" width="230" alt="Loại cam đặc biệt chỉ trồng trên vùng đất Xã Đoài, Nghệ An mới có vị thơm, ngọt ...">
                                <h4>Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua</h4>
                                <div class="clear"></div>
                            </a>

                        </div>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>Tags</h3>
                        <ul class="tags_links">
                            <li><a href="./GioiThieu">Đất Hồng Lam</a></li>
                            <li><a href="#">Chim bồ câu </a></li>
                            <li><a href="#">Thịt chó </a></li>
                            <li><a href="#">Xứ Nghệ</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


