
<div class=" content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 dv-child-left">
                <h3 class="title">ĐẶC SẢN BÁNH MƯỚT GIÒ</h3>
                <div class="content-top">
                    <div>
                        <div id="showText">
                            <p style="text-align: justify;">
                                <strong>Ở xứ Nghệ, nhắc tới bánh mướt không ai là không biết. Bánh mướt thoạt nhìn trông giống bánh cuốn của miền Bắc, bánh ướt ở miền Nam, nhưng khi ăn lại thấy hương vị riêng biệt của người dân xứ Nghệ.</strong><br />
                                Người dân xứ Nghệ  không biết bánh mướt có từ bao giờ, chỉ biết rằng từ ngày còn bé, các em nhỏ đã biết ra ngõ đợi mẹ đi chợ về để được ăn những chiếc bánh mướt trăng trắng, thơm hành tăm vàng rộm, lấp ló trong gói lá chuối xanh nõn nà.<br />
                                Bánh mướt thường dài như ngón tay trỏ của người lớn, cuộn tròn, mềm, mịn, trắng trong. Chỉ cần chén nước mắm vắt chanh, đường vừa đủ, ớt cắt lát mỏng thế là có thể ăn đến no, bởi nguyên liệu của bánh không phải cái gì khác ngoài gạo tẻ. Người xứ Nghệ cũng thường ăn bánh mướt thay cơm.
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/banh-muot-xu-nghe.JPG" alt="Bánh mướt xứ Nghệ" border="0">
                                </a>
                                <br />
                                Cuộc sống đã bao nhiêu thay đổi nhưng bánh mướt vẫn thường trực trong những buổi sáng mờ sương, những buổi trưa đãi khách, những bữa tiệc đoàn tụ gia đình và cả ngày giỗ, ngày cưới... Dẫu rằng chiếc bánh mướt theo thời gian đã được người ta cách điệu đi đôi phần như dùng máy để xay bột, dùng thịt heo, mộc nhĩ để làm nhân ... bánh mướt vẫn còn giữ được hồn quê dân dã đến kỳ lạ!<br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/motnbsp.JPG" alt="Một phần không thể thiếu trong ẩm thực thường ngày của người dân nơi đây" border="0">
                                </a>
                                <br />
                                Người dân xứ Nghệ thường ăn bánh với đủ thứ nước dùng nào bò hầm, xáo vịt, xáo gà, rồi lòng heo, giò lụa, thịt chó... Tất nhiên không thể thiếu được rau rợ với dưa, giá, xà lách, rau thơm...<br />
                                Cách làm bánh mướt không cần đến cầu kì nhưng cần lắm sự công phu. Gạo tẻ phải được ngâm cả buổi trời cho mềm rồi vớt ra đem xay thành bột nước. Và chưa vội làm ngay, bột ấy phải để lắng trong nhiều giờ nữa mới nổi lửa tráng bánh. Để làm gì ư? Chính là để bánh nở phồng khi đã nhận đủ nhiệt.<br />
                                Bếp tráng bánh bao giờ lửa cũng phải cháy lớn để nước trong nồi luôn sôi, có thế sức nóng mới xuyên thấu tấm vải căng miệng nồi. Một chút bột nước rưới lên, cán đều cho mỏng tang, đậy vung lại và chờ đợi trong chốc lát. Dùng cái đũa bếp nhấc bánh đặt lên cái rá sạch úp ngược rồi bắt đầu cuốn. Sau cùng là đặt bánh ngay ngắn thành từng hàng trong cái thúng lót lá chuối tươi. Khi dỡ bánh tới đâu, người bán cũng đều phết lên một lớp hành phi mỡ thơm, vàng ruộm. Bánh không thể làm được một lúc nhiều chiếc vậy là các mẹ, các chị phải dậy từ lúc hai, ba giờ sáng trăn trở từng chiếc bánh, để tờ mờ sáng mai khi mặt trời vừa rọ những quang ghánh nặng bánh đã có mặt ở mọi nẻo đường quê.<br />
                                Ở xứ Nghệ có những làng chuyên làm bánh mướt bán quanh năm. Kinh nghiệm làm bánh được chắt chiu và lưu truyền từ thế hệ này sang thế hệ khác.<br />
                                Bánh mướt là món ăn gắn bó với người dân xứ Nghệ và là một phần không thể thiếu trong ẩm thực thường ngày của người dân nơi đây.
                            </p>
                            <p style="text-align:right;">
                                <strong>Nguyệt Dương</strong>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 dv-child-right">
                <div class="product">
                    <div class="dv_content_leftsp">
                        <br />
                        <h3>DANH MỤC SẢN PHẨM</h3>
                        <ul class="dv_list_dmsp">
                            <li>
                                <a href="#">Món Ăn</a>
                                <span class="SHOW_menu_left" data="Mon-An">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Mon-An" style="overflow: hidden;">
                                    <li><a href="#">Cháo Lươn Vinh</a></li>
                                    <li><a href="#">Cháo Canh</a></li>
                                    <li><a href="#">Mực Nhảy Nướng Lò</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Bánh - Hoa - Quả</a>
                                <span class="SHOW_menu_left" data="Banh-Hoa-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Banh-Hoa-Qua" style="overflow: hidden;">
                                    <li><a href="#">Bánh Đa Đô Lương</a></li>
                                    <li><a href="#">Bánh Mướt Giò</a></li>
                                    <li><a href="#">Bánh Gai</a></li>
                                    <li><a href="#">Bánh Lá Gói</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Làm Quà</a>
                                <span class="SHOW_menu_left" data="Lam-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Lam-Qua" style="overflow: hidden;">
                                    <li><a href="#">Nhút Thanh Chương</a></li>
                                    <li><a href="#">Tương Nam Đàn</a></li>
                                    <li><a href="#">Bánh Đa</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                        </ul>
                        <script type="text/javascript">
                            $(".SHOW_menu_left").click(function () {
                                var data = $(this).attr('data');
                                var data_text = $(this).html();
                                if (data_text == "+") {
                                    $(".SHOW_menu_left").each(function (index) {
                                        if ($(this).html() == "-") {
                                            $(this).html('+');
                                        }
                                    });
                                    $(this).html("-");
                                    $(".dv_list_dmsp_2").hide('500');
                                    $(".ul-data-" + data).show('500');
                                }
                                else if (data_text == "-") {
                                    $(this).html("+");
                                    $(".ul-data-" + data).hide('500');
                                }
                            });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>ViDeo</h3>
                        <iframe class="video" src="https://www.youtube.com/embed/d1Hclw_hcaE" frameborder="0" allowfullscreen></iframe>                        <script type="text/javascript" src="/templates/1_shop_test/js/jquery.marquee.min.js"></script>
                        <script>
                            $('.marqueew').marquee(
                                {
                                    duration: 19000, gap: 0, delayBeforeStart: 0,
                                    direction: 'up',
                                    duplicated: true,
                                    pauseOnHover: true,
                                    startVisible: true
                                });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>TIN TỨC HOT</h3>
                        <div id="newsRight">
                            <a href="#" title="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <img src="~/Content/image/ruoi.JPG" width="230" alt="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <h4>Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <img src="~/Content/image/tuong2.jpg" width="230" alt="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <h4>Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Bữa cỗ trong văn hóa ẩm thực xứ Nghệ">
                                <img src="~/Content/image/bua-co-trong-van-hoa-am-thuc-xu-nghe-1.jpg" width="230" alt="Hòa chung trong bức tranh văn hóa nông nghiệp lúa nước, người dân xứ Nghệ cũng mang những nét truyền">
                                <h4>Bữa cỗ trong văn hóa ẩm thực xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua">
                                <img src="~/Content/image/camxadoai.jpg" width="230" alt="Loại cam đặc biệt chỉ trồng trên vùng đất Xã Đoài, Nghệ An mới có vị thơm, ngọt ...">
                                <h4>Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua</h4>
                                <div class="clear"></div>
                            </a>

                        </div>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>Tags</h3>
                        <ul class="tags_links">
                            <li><a href="./GioiThieu">Đất Hồng Lam</a></li>
                            <li><a href="#">Chim bồ câu </a></li>
                            <li><a href="#">Thịt chó </a></li>
                            <li><a href="#">Xứ Nghệ</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


