
@{
    ViewBag.Title = "Intro";
}
<link href="~/Content/Gioithieu.css" rel="stylesheet" />
<div id="conten">
    <div class="container">
        <div class="row contentIntro">
            <div class="col-md-8 dv-child-left">
                <h3 class="title">Văn hóa ẩm thực Xứ Nghệ</h3>
                <div class="content-top">
                    <div>
                        <div id="showText">
                            <p style="text-align: justify;">
                            <strong>Đất Hồng Lam</strong> đã nổi tiếng về tính cách con người, về những đóng góp cho lịch sử, cho văn chương của dân tộc, thì cũng có cả những phần riêng tư đóng góp vào văn hoá ẩm thực Việt Nam.&nbsp;
                               <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/images_intro/intropng.png" alt="" border="0">
                                </a>
                                <br />
                                Ở đây, người xứ Nghệ tự bộc lộ mình một cách khác vẻ với cái chung của cả nước.
                                Nhiều loại vật phẩm bình thường, đâu đâu cũng có, nhưng ở xứ Nghệ nó lại nổi lên như một đặc trưng.
                                Nước mắm chẳng hạn.Cả nước ta, vùng duyên hải nơi nào cũng có loại nước mắm ngon nổi tiếng,
                                nhưng chỉ nước mắm Nghệ mới được đi vào giai thoại bằng câu thơ Cao Bá Quát "con thuyền Nghệ An"
                                và "Cái mũi vô duyên".
                                Cà phổ biến khắp mọi miền, nhưng người sành ăn như Tản Đà chỉ nhớ đến "Long Xuyên chén mắm,
                                Nghệ An đĩa cà". Nguyễn Đổng Chi cũng phải mượn quả cà làm vật biểu trưng
                                đề từ cho cuốn sách đầu tiên viết về hát dặm. Lại chắc chắn rằng cả nước ta -
                                có lẽ cả trên thế giới nữa, không đâu có một thứ thực phẩm lạ kỳ như ở xứ Nghệ - cá gỗ.
                                Cá gỗ được sử dụng như một món đồ ăn thực sự, chứ không phải là loại đồ chơi trẻ con đâu.
                                &nbsp;
                                <br />
                                Ai không quen với các vùng đất xứ Nghệ, hoặc thổ âm Nghệ Tĩnh, thường dễ gặp những ngỡ ngàng trong sự giao lưu. Ngay khi nghe một điệu dân ca - một khúc hát đò đưa, hay một câu hát dặm - cũng thường thấy khó hiểu, gấy ít nhiều hạn chế trong việc thưỏng thức. Đến với những đồ ăn thức uống ở đây cũng vậy. Các vật phẩm đều có giá trị riêng, nhưng nếu không phải là người đồng điệu với quê hương Hồng Lam, thì khó mà nhận ra nét đặc sắc.&nbsp;
                                <br />
                                Điều chủ yếu nhất, là những người thưởng thức phải thực sự là người bình dân, hoặc gắn bó với người bình dân mới được. Có những loại thực phẩm được gọi bằng thổ ngữ, nghe rất xa lạ, mặc dù đó là những món bình thường: Nhà Từa rau vác, Giao Tác cà ngải, Phúc Hải bèn môn là ba thứ sau cà nổi tiếng của ba thôn (nay thuộc xã Thuận Lộc - huyện Can Lộc - Hà Tĩnh). Bèn môn là loại cây ngoài Bắc gọi là dọc mùng, ở Huế gọi là chột nưa. Bèn là thân cây mùng trơn tru một chiều dọc, lá to xoè trên ngọn, Môn là củ khoai. Người xứ nghệ thường gọi cây củ xứ mình bằng cái tên riêng như vậy.&nbsp;
                                <br />
                                Ngay trong cách chế biến, nấu nướng, người xứ Nghệ nấu nướng một cách đơn giản, không cầu kỳ. Chặt to kho mặn là tác phong quen thuộc của các bà nội trợ. Các thứ để gia giảm họ chỉ thêm những gì dễ kiếm và bình dị nhất. "Cá đồng nấu khế, cá bể nấu dưa", hoặc "Cá bống kho tiêu, cá thiều kho mỡ". Những nguyên liệu , dụng cụ mà người Nghệ dùng trong việc ăn uống cũng thường là những loại to lớn, gần với thực trạng lớn lao trong thiên nhiên, chứ không phải những thứ thanh mảnh. Gạo nếp Voi (có nhiều ở huyện Kỳ Anh), chè xanh phải là chè cốt (bẻ cả lá và cành vào nồi nấu chứ không phải chỉ lấy lá). Bát đem xới cơm hay múc nước phải là loại bát to, gọi là đọi nậy.&nbsp;
                                <br />
                                Ngay khi ăn uống, người dân có cách ăn mạnh mẽ, đoi khi quyết liệt ào ào. Bánh đúc thì phải bẻ ba, cá trích phải cắn ngang, tôm canh phải quẹt ngược Ta dễ liên hệ đến những đường nét ngang dọc có sức công phá trong những câu thơ của Hồ Xuân Hương "Xuyên ngang mặt đất, đâm toạc chân mây...". Khí thế hào hùng của người xứ Nghệ toát ra cả trong khi ăn uống. Ăn như thế mới thực là khoái. Rất khoái với những món ăn quê hương thạt thà, thô lậu :"Cháo kê bánh đỗ, ai chộ (thấy) cũng thèm. Bồng bồng nấu với tép kho. Dẫu chết xuống mồ cũng dậy mà ăn"... là như thế. Rõ ràng là lối ăn uống của những anh chàng "khố chạc".&nbsp;
                                <br />
                                Nhưng không phải ở vùng đất này không có những món ăn cao cấp. Người xứ Nghệ cũng rất thành thạo cách chế biến các thức ăn trong những ngày có cỗ bàn, ngày lễ, tết. Người ta cũng làm các loại giò hoa, chả lụa rất cầu kỳ, làm các loại bánh trong, bánh lọc... Người ta biết chọn những thức ăn kết hợp với nhau, thành một thứ mỹ vị, vừa có giá trị dinh dưỡng, vừa là loại hiếm hoi: gạo tám xoan, gan cá bống, hay cơm ló (lúa) lốc, trốc (đầu) cá rô (lúa lốc là loại lúa thơm ngon). Bún sốt lòng tươi là món ăn quý, con cái thưòng dành mời bố mẹ.&nbsp;
                                <br />
                                <strong>Chim bồ câu </strong>
                                cũng là loại chim dùng để biếu xén, hoặc là để bồi dưỡng cho người ốm. Ở Nghệ Tĩnh gọi bồ câu là con cu cu Cũng có loại chim cu ngói và cu cườm là loại quý, xuất hiện theo mùa "chim ngói mùa thu, chim cu mùa hè". Đỏ vàng son, ngon mật mỡ là chỉ các loại bánh tùng, bánh ngào, có một hương vị rất riêng , khác với các loại bánh mật ở nơi khác.&nbsp;
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/images_intro/chimbocau.jpg" alt="" border="0">
                                </a>
                                <br />
                                <strong>Thịt chó</strong>
                                Nghệ An cũng là món thích khẩu, và cũng có phần khác, đậm đà hơn ở nhiều nơi. Có làm thịt phải là chó mỡ. Món nhựa mận (thịt chó) được làm rất công phu. Người ta cắt thịt từng miếng, bóp với mẻ, riềng, sả, hành, ớt, lá quýt và các gia vị khác như mật mía, mắm tôm, nước mắm và còn có thêm lớp bỏng rang. Tât cả đóng vuông như cái hộp, vắt đất sét gói thịt lại, trám kín rồi đem nung bằng trấu cho đến khi vỏ đất sét cứng như ngói. Làm như vậy món thịt để được rất lâu. Khi cần lấy ra, bỏ thịt vào nồi, hâm lại, thịt vẫn ngon và thơm như mới. Khi không tiện làm thịt chó, người ta có thể dùng thịt lợn hoặc thịt chim, nhất là chim cói, chim giang giang để nấu món giả cầy. Giả cầy các nơi đều dùng thịt lợn, giả cầy ở Nghệ Tĩnh dùng cả chim cói (một loại với cò, nhưng không phải cò), ngon hơn.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/images_intro/thitcho.jpg" alt="" border="0">
                                </a>
                                <br />
                                <strong>Xứ Nghệ </strong>cũng có những món ăn riêng, được đi vào ca dao, tục ngữ hay đi vào cổ tích, đi vào kho tàng đặc sản dân tộc như ở nhiều nơi. Điều đặc biệt là những món hàng địa phương như thế vẫn bộc lộ cái chân chất, cái thô sơ của miền quê xứ Nghệ. Cổ tích có câu chuyện cá rô Bầu Nón. Bầu Nón là một cái ao lớn ở huyện Nam Đàn, có thứ cá rô ngon tuyệt vời. Thời Chúa Trịnh cầm quyền, món cá rô này là vật dân làng Hồ Liễu (Xuân Hồ và Xuân Liễu) phải đem vào tiến cung. Tiến cá rồi còn phải tiến cả người biết nấu cá. Đầu tiên là niềm vinh dự, sau lại thành cái nạ cho dân làng. Bà /đầu bếp này (tên bà Ngọ) đã phải lập mưu để Chúa Trinh chán nản mà không quấy rầy dân làng nữa. Nhưng cá rô ở đây vẫn cứ mãi là thức ăn ngon lành.&nbsp;
                            </p>
                            <p style="text-align:right;">
                                <strong><i>Sưu tầm</i></strong>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 dv-child-right">
                <div class="product">
                    <div class="dv_content_leftsp">
                        <br />
                        <h3>DANH MỤC</h3>
                        <ul class="dv_list_dmsp">
                            <li>
                                <a href="#">Món Ăn</a>
                                <span class="SHOW_menu_left" data="Mon-An">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Mon-An" style="overflow: hidden;">
                                    <li><a href="#">Cháo Lươn Vinh</a></li>
                                    <li><a href="#">Cháo Canh</a></li>
                                    <li><a href="#">Mực Nhảy Nướng Lò</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Bánh - Hoa - Quả</a>
                                <span class="SHOW_menu_left" data="Banh-Hoa-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Banh-Hoa-Qua" style="overflow: hidden;">
                                    <li><a href="#">Bánh Đa Đô Lương</a></li>
                                    <li><a href="#">Bánh Mướt Giò</a></li>
                                    <li><a href="#">Bánh Gai</a></li>
                                    <li><a href="#">Bánh Lá Gói</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Làm Quà</a>
                                <span class="SHOW_menu_left" data="Lam-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Lam-Qua" style="overflow: hidden;">
                                    <li><a href="#">Nhút Thanh Chương</a></li>
                                    <li><a href="#">Tương Nam Đàn</a></li>
                                    <li><a href="#">Bánh Đa</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                        </ul>
                        <script type="text/javascript">
                                $(".SHOW_menu_left").click(function () {
                                    var data = $(this).attr('data');
                                    var data_text = $(this).html();
                                    if (data_text == "+")
                                    {
                                        $(".SHOW_menu_left").each(function (index) {
                                            if ($(this).html() == "-") {
                                                $(this).html('+');
                                            }
                                        });
                                        $(this).html("-");
                                        $(".dv_list_dmsp_2").hide('500');
                                        $(".ul-data-" + data).show('500');
                                    }
                                    else if (data_text == "-")
                                    {
                                        $(this).html("+");
                                        $(".ul-data-" + data).hide('500');
                                    }
                                });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>ViDeo</h3>
                        <iframe class="video" src="https://www.youtube.com/embed/Akfngk1mkks" frameborder="0" allowfullscreen></iframe>
                        <script type="text/javascript" src="/templates/1_shop_test/js/jquery.marquee.min.js"></script>
                        <script>
                                $('.marqueew').marquee(
                                    {
                                        duration: 19000, gap: 0, delayBeforeStart: 0,
                                        direction: 'up',
                                        duplicated: true,
                                        pauseOnHover: true,
                                        startVisible: true
                                    });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>TIN TỨC HOT</h3>
                        <div id="newsRight">
                            <a href="#" title="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <img src="~/Content/image/ruoi.JPG" width="230" alt="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <h4>Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <img src="~/Content/image/tuong2.jpg" width="230" alt="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <h4>Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Bữa cỗ trong văn hóa ẩm thực xứ Nghệ">
                                <img src="~/Content/image/bua-co-trong-van-hoa-am-thuc-xu-nghe-1.jpg" width="230" alt="Hòa chung trong bức tranh văn hóa nông nghiệp lúa nước, người dân xứ Nghệ cũng mang những nét truyền">
                                <h4>Bữa cỗ trong văn hóa ẩm thực xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua">
                                <img src="~/Content/image/camxadoai.jpg" width="230" alt="Loại cam đặc biệt chỉ trồng trên vùng đất Xã Đoài, Nghệ An mới có vị thơm, ngọt ...">
                                <h4>Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua</h4>
                                <div class="clear"></div>
                            </a>

                        </div>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>Tags</h3>
                        <ul class="tags_links">
                            <li><a href="./GioiThieu">Đất Hồng Lam</a></li>
                            <li><a href="#">Chim bồ câu </a></li>
                            <li><a href="#">Thịt chó </a></li>
                            <li><a href="#">Xứ Nghệ</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="clear"></div>
        </div>
    </div>
</div>



