
@{
    ViewBag.Title = "LuonVinh";
}
<link href="~/Content/SiteDetail.css" rel="stylesheet" />
<div class=" content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 dv-child-left">
                <h3 class="title">ĐẶC SẢN LƯƠN THÀNH VINH</h3>
                <div class="content-top">
                    <div>
                        <div id="showText">
                            <p style="text-align: justify;">
                                <strong>Lươn là đặc sản nổi tiếng xứ Nghệ và để thưởng thức hương thơm đúng vị của món này, du khách thường tìm đến tận thành phố Vinh.</strong>
                                Bên cạnh các đặc sản nổi tiếng làm quà của đất Nghệ An như cam Vinh, kẹo cu đơ, thì các món lươn lại được ưu tiên thưởng thức ngay tại mảnh đất Sông Lam bởi chẳng thể mua về. Lươn là loại thủy sản nước ngọt, dài như rắn, da trơn có nhớt, màu nâu vàng phổ biến ở hầu hết đồng ruộng Việt Nam. Dưới bàn tay khéo léo cùng văn hóa ẩm thực đặc trưng của những người con xứ Nghệ, các món ngon từ lươn lần lượt ra đời và dần chiếm thiện cảm của những người yêu ẩm thực trên cả nước.&nbsp;<br />
                                Trước tiên là phải kể đến súp lươn. Không sánh đặc như các món súp khác, nước súp của lươn giống như nước dùng, trong và ngọt. Lươn cũng không nghiền nhỏ để làm súp như nhiều người vẫn nghĩ mà được lọc tách xương, chẻ đôi và nấu mềm chín tới. Một bát súp lươn đúng vị Nghệ An phải có sự hòa trộn giữa màu vàng óng của nghệ, màu xanh của rau răm, mùi tàu cùng màu đỏ cay nồng của những giọt ớt.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/LUONTV01.jpg" alt="Súp lươn Nghệ An ăn cùng bánh mỳ hay bánh mướt." border="0">
                                </a>
                                <br />
                                Súp lươn xứ Nghệ không ăn đơn thuần mà được ăn chung cùng bánh mỳ hay bánh mướt (bánh cuốn). Riêng bánh mỳ ăn kèm ở đây cũng có vị rất riêng. Ngoài loại bánh mỳ thông thường, những người sành ẩm thực thường chọn loại bánh mỳ đã được rán thơm. Khi chấm ăn cùng nước súp nóng hổi dậy hương, vị giòn giòn thơm nức của miếng bánh quyện trong vị ngọt đậm hương quê trong từng giọt súp.<br />
                                &nbsp;<br />
                                Điều chủ yếu nhất, là những người thưởng thức phải thực sự là người bình dân, hoặc gắn bó với người bình dân mới được. Có những loại thực phẩm được gọi bằng thổ ngữ, nghe rất xa lạ, mặc dù đó là những món bình thường: Nhà Từa rau vác, Giao Tác cà ngải, Phúc Hải bèn môn là ba thứ sau cà nổi tiếng của ba thôn (nay thuộc xã Thuận Lộc - huyện Can Lộc - Hà Tĩnh). Bèn môn là loại cây ngoài Bắc gọi là dọc mùng, ở Huế gọi là chột nưa. Bèn là thân cây mùng trơn tru một chiều dọc, lá to xoè trên ngọn, Môn là củ khoai. Người xứ nghệ thường gọi cây củ xứ mình bằng cái tên riêng như vậy.&nbsp;
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/LUON_02.jpg" alt="Cháo lươn thơm ngon sánh mịn vị cay nồng." border="0">
                                </a>
                                <br />
                                Bên cạnh súp lươn, cháo lươn là món không thể thiếu trong thực đơn lươn xứ Nghệ. Lươn không ninh cùng cháo mà được bỏ vào sau khi ướp gia vị và xào nên rất ngấm mà không hề nát. Gạo nấu cháo được ninh nhừ nguyên hạt chứ không giã nhỏ hay xay, pha thêm chút nếp nên cháo thường khá sánh. Khi ăn, lươn trộn cùng cháo, thêm gia vị, tiêu, ớt, hành răm thái nhỏ dậy mùi.&nbsp;
                                <br />
                                Thưởng thức cháo lươn ngon nhất là vào tiết trời se lạnh để cảm nhận sự ấm lòng khi vừa ăn vừa xuýt xoa hương vị cay nồng đặc trưng trong từng chén cháo. Hiện nay các địa chỉ cháo lươn hấp dẫn cho thực khách đến Vinh là quán cháo lươn cay trên đường Đào Tấn hay quán Hồng Sơn ngay cạnh quốc lộ 1A. Bạn cũng có thể tìm đến phố ăn đêm Cổng Thành hoặc các quán lươn trên đường Trần Hưng Đạo để thưởng thức một tô cháo lươn Nghệ An đúng điệu.&nbsp;
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/LUON_03.jpg" alt="Miến lươn là một trong 15 món ngon Việt Nam được đề cử top món ngon châu Á." border="0">
                                </a>
                                <br />
                                So với hai món súp và cháo, miến lươn có phần phổ biến hơn và nằm trong danh sách 15 món ngon được Tổ chức Kỷ lục Việt Nam lập đề cử Top món ngon châu Á. Miến lươn không quá cay như cháo và có thể chế biến tùy theo sở thích của thực khách. Bởi vậy bạn có thể thưởng thức miến lươn theo hai dạng là khô hoặc nước.&nbsp;
                                <br />
                                Chọn lươn chiên giòn hoặc hấp mềm kèm với miến sẽ cho bạn cảm giác rất riêng của từng loại khi ăn. Đó là vị giòn dai rồi tan dần trên đầu lưỡi hay béo ngậy thơm nồng của nước ninh từ xương ống, xương lươn giã nát. Dù thế nào thì vị ngọt của lươn, thơm lừng của rau giá cùng vị dai trong của miến luôn là sức hấp dẫn khó cưỡng với bất kỳ thực khách nào. Địa chỉ miến lươn dành cho bạn ở Vinh là phố ăn đêm Hồ Sỹ Dương gần Bưu điện tỉnh.&nbsp;
                                <br />
                                Ngoài ra còn rất nhiều món ngon nổi tiếng từ lươn như lươn om chuối, lươn om lá ngải cứu, lươn om rau ngổ, lươn om lá lốt, lươn om nồi đất… Mỗi món có gia vị riêng nhưng không thể thiếu nghệ, mẻ, mắm tôm, rau răm, hạt tiêu... Không chỉ giúp tạo mùi mà còn tạo nên một bản sắc riêng cho ẩm thực thành Vinh và xứ Nghệ nói chung.&nbsp;
                                <br />
                            </p>
                            <p style="text-align:right;">
                                <strong>Nguyệt Dương</strong>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 dv-child-right">
                <div class="product">
                    <div class="dv_content_leftsp">
                        <br />
                        <h3>DANH MỤC SẢN PHẨM</h3>
                        <ul class="dv_list_dmsp">
                            <li>
                                <a href="#">Món Ăn</a>
                                <span class="SHOW_menu_left" data="Mon-An">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Mon-An" style="overflow: hidden;">
                                    <li><a href="#">Cháo Lươn Vinh</a></li>
                                    <li><a href="#">Cháo Canh</a></li>
                                    <li><a href="#">Mực Nhảy Nướng Lò</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Bánh - Hoa - Quả</a>
                                <span class="SHOW_menu_left" data="Banh-Hoa-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Banh-Hoa-Qua" style="overflow: hidden;">
                                    <li><a href="#">Bánh Đa Đô Lương</a></li>
                                    <li><a href="#">Bánh Mướt Giò</a></li>
                                    <li><a href="#">Bánh Gai</a></li>
                                    <li><a href="#">Bánh Lá Gói</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Làm Quà</a>
                                <span class="SHOW_menu_left" data="Lam-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Lam-Qua" style="overflow: hidden;">
                                    <li><a href="#">Nhút Thanh Chương</a></li>
                                    <li><a href="#">Tương Nam Đàn</a></li>
                                    <li><a href="#">Bánh Đa</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                        </ul>
                        <script type="text/javascript">
                            $(".SHOW_menu_left").click(function () {
                                var data = $(this).attr('data');
                                var data_text = $(this).html();
                                if (data_text == "+") {
                                    $(".SHOW_menu_left").each(function (index) {
                                        if ($(this).html() == "-") {
                                            $(this).html('+');
                                        }
                                    });
                                    $(this).html("-");
                                    $(".dv_list_dmsp_2").hide('500');
                                    $(".ul-data-" + data).show('500');
                                }
                                else if (data_text == "-") {
                                    $(this).html("+");
                                    $(".ul-data-" + data).hide('500');
                                }
                            });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>ViDeo</h3>
                        <iframe class="video" src="https://www.youtube.com/embed/q6Q3kCqJ1U0" frameborder="0" allowfullscreen></iframe>                        <script type="text/javascript" src="/templates/1_shop_test/js/jquery.marquee.min.js"></script>
                        <script>
                            $('.marqueew').marquee(
                                {
                                    duration: 19000, gap: 0, delayBeforeStart: 0,
                                    direction: 'up',
                                    duplicated: true,
                                    pauseOnHover: true,
                                    startVisible: true
                                });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>TIN TỨC HOT</h3>
                        <div id="newsRight">
                            <a href="#" title="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <img src="~/Content/image/ruoi.JPG" width="230" alt="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <h4>Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <img src="~/Content/image/tuong2.jpg" width="230" alt="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <h4>Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Bữa cỗ trong văn hóa ẩm thực xứ Nghệ">
                                <img src="~/Content/image/bua-co-trong-van-hoa-am-thuc-xu-nghe-1.jpg" width="230" alt="Hòa chung trong bức tranh văn hóa nông nghiệp lúa nước, người dân xứ Nghệ cũng mang những nét truyền">
                                <h4>Bữa cỗ trong văn hóa ẩm thực xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua">
                                <img src="~/Content/image/camxadoai.jpg" width="230" alt="Loại cam đặc biệt chỉ trồng trên vùng đất Xã Đoài, Nghệ An mới có vị thơm, ngọt ...">
                                <h4>Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua</h4>
                                <div class="clear"></div>
                            </a>

                        </div>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>Tags</h3>
                        <ul class="tags_links">
                            <li><a href="./GioiThieu">Đất Hồng Lam</a></li>
                            <li><a href="#">Chim bồ câu </a></li>
                            <li><a href="#">Thịt chó </a></li>
                            <li><a href="#">Xứ Nghệ</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

