
@{
    ViewBag.Title = "MucNhayCuaLo";
}

<div class=" content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 dv-child-left">
                <h3 class="title">ĐẶC SẢN MỰC NHÁY CỬA LÒ</h3>
                <div class="content-top">
                    <div>
                        <div id="showText">
                            <p style="text-align: justify;">
                                <strong>“Mực nháy”</strong>
                                có nơi còn gọi là mực nhảy, tên gọi này dùng để chỉ những con mực được ngư dân vừa bắt lên khỏi nước biển còn nguyên độ tươi và được đưa vào chế biến và thưởng thức ngay tại chỗ khi còn tươi nguyên. Đây là một món đặc sản của Nghệ An. Thông thường nhiều người vẫn quen gọi là mực nhảy nhưng tên gọi chính xác là “mực nháy” vì con mực mới bắt lên còn sống, mình trong suốt, làn da lúc nào cũng nhấp nháy những đốm lân tinh. Hai cách gọi trên tuy diễn tả những trạng thái khác nhau của con mực nhưng đều nói lên mức độ tươi ngon của con mực.    
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/muv01.jpg" alt="Thơm ngon đặc sản mực nháy xứ Nghệ" border="0">
                                </a>
                                <br />
                                <strong>"Mực nháy”</strong> có nhiều cách chế biến. Có cách đơn giản là dùng ngay tại chỗ, câu mực được con nào nướng luôn con ấy trên tán đèn măng sông. Con mực tươi rói nướng lên vừa thơm vừa giòn vừa ngọt, chấm với tương ớt cùng muối tiêu pha chanh rất ngon. 
                                <br />
                                <br />
                               <strong> Mực luộc</strong> cũng là cách ăn thông dụng nhưng không lạ miệng bằng ăn tái, du khách thích ăn con nào cầm râu con đó nhúng vào nồi nước đang sôi trong chốc lát rồi vớt ra thưởng thức. Ăn mực sống thì phải chọn con mực vừa mới câu lên khỏi mặt nước, bỏ hết nội tạng thái miếng vát chanh vào ướp một lúc. Sau đó gắp miếng mực tươi cong chấm vào chén mù tạt cay sực mùi hạt cải.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">

                                    <img src="~/Content/Kham-pha/muc04.JPG"  alt="Thơm ngon đặc sản mực nháy xứ Nghệ" border="0">
                                </a>
                                <br />
                                <strong> Mực hấp</strong> là món nhanh, ngon và hấp dẫn. Món mực nhảy hấp làm đơn giản, cần rửa sạch mực, lấy túi để nguyên con cho vào nồi, giã ít gừng tươi trộn đều, cho ít nước dừa hoặc bia, đậy kín nồi rồi nhóm lửa hấp đến khi nước sôi thì mực sẽ chín, có thể thêm hành lá sau đó vớt ra sắp đều trên đĩa và thưởng thức.
                                <br />
                                Ăn loại mực này thực khách sẽ cảm nhận được độ tươi ngọt, thịt mực vừa giòn vừa dai nên người ăn có cảm giác sảng khoái, ăn no nê mà không ngán.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/muc03.jpeg" alt="Thơm ngon đặc sản mực nháy xứ Nghệ" border="0">
                                </a>
                                <br />
                                Giờ, ba má tôi đã rời quê lên thành phố. Mỗi khi thèm nhớ chiếc bánh gói ngày xưa, má tranh thủ làm món bánh này vào những ngày nghỉ cuối tuần. Thật đầm ấm và hạnh phúc khi cả nhà họp mặt đông đủ để thưởng thức món bánh gói do má làm.
                                <br />
                                Ngoài ra câu mực nhảy và thưởng thức tại chổ cũng là một loại hình giải trí kết hợp với thưởng thức đặc sản rất thú vị của du khách. Những năm gần đây, kết hợp với sự phát triển du lịch, nghỉ mát, dịch vụ câu mực nhảy bằng thuyền thúng ở Cửa Lò đã trở thành một thú tiêu khiển hấp dẫn nhiều du khách. Dịch vụ này đã tạo nên nét độc đáo, đem lại bản sắc riêng cho du lịch Cửa Lò.
                            </p>
                            <p style="text-align:right;">
                                <strong>Nguyệt Dương</strong>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 dv-child-right">
                <div class="product">
                    <div class="dv_content_leftsp">
                        <br />
                        <h3>DANH MỤC SẢN PHẨM</h3>
                        <ul class="dv_list_dmsp">
                            <li>
                                <a href="#">Món Ăn</a>
                                <span class="SHOW_menu_left" data="Mon-An">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Mon-An" style="overflow: hidden;">
                                    <li><a href="#">Cháo Lươn Vinh</a></li>
                                    <li><a href="#">Cháo Canh</a></li>
                                    <li><a href="#">Mực Nhảy Nướng Lò</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Bánh - Hoa - Quả</a>
                                <span class="SHOW_menu_left" data="Banh-Hoa-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Banh-Hoa-Qua" style="overflow: hidden;">
                                    <li><a href="#">Bánh Đa Đô Lương</a></li>
                                    <li><a href="#">Bánh Mướt Giò</a></li>
                                    <li><a href="#">Bánh Gai</a></li>
                                    <li><a href="#">Bánh Lá Gói</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Làm Quà</a>
                                <span class="SHOW_menu_left" data="Lam-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Lam-Qua" style="overflow: hidden;">
                                    <li><a href="#">Nhút Thanh Chương</a></li>
                                    <li><a href="#">Tương Nam Đàn</a></li>
                                    <li><a href="#">Bánh Đa</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                        </ul>
                        <script type="text/javascript">
                            $(".SHOW_menu_left").click(function () {
                                var data = $(this).attr('data');
                                var data_text = $(this).html();
                                if (data_text == "+") {
                                    $(".SHOW_menu_left").each(function (index) {
                                        if ($(this).html() == "-") {
                                            $(this).html('+');
                                        }
                                    });
                                    $(this).html("-");
                                    $(".dv_list_dmsp_2").hide('500');
                                    $(".ul-data-" + data).show('500');
                                }
                                else if (data_text == "-") {
                                    $(this).html("+");
                                    $(".ul-data-" + data).hide('500');
                                }
                            });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>ViDeo</h3>
                        <iframe class="video" src="https://www.youtube.com/embed/POgIz8LpPeU" frameborder="0" allowfullscreen></iframe>                        <script type="text/javascript" src="/templates/1_shop_test/js/jquery.marquee.min.js"></script>
                        <script>
                            $('.marqueew').marquee(
                                {
                                    duration: 19000, gap: 0, delayBeforeStart: 0,
                                    direction: 'up',
                                    duplicated: true,
                                    pauseOnHover: true,
                                    startVisible: true
                                });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>TIN TỨC HOT</h3>
                        <div id="newsRight">
                            <a href="#" title="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <img src="~/Content/image/ruoi.JPG" width="230" alt="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <h4>Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <img src="~/Content/image/tuong2.jpg" width="230" alt="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <h4>Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Bữa cỗ trong văn hóa ẩm thực xứ Nghệ">
                                <img src="~/Content/image/bua-co-trong-van-hoa-am-thuc-xu-nghe-1.jpg" width="230" alt="Hòa chung trong bức tranh văn hóa nông nghiệp lúa nước, người dân xứ Nghệ cũng mang những nét truyền">
                                <h4>Bữa cỗ trong văn hóa ẩm thực xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua">
                                <img src="~/Content/image/camxadoai.jpg" width="230" alt="Loại cam đặc biệt chỉ trồng trên vùng đất Xã Đoài, Nghệ An mới có vị thơm, ngọt ...">
                                <h4>Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua</h4>
                                <div class="clear"></div>
                            </a>

                        </div>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>Tags</h3>
                        <ul class="tags_links">
                            <li><a href="./GioiThieu">Mực nháy</a></li>
                            <li><a href="#">Cam xã Đoài </a></li>
                            <li><a href="#">Tương Nam Đàn</a></li>
                            <li><a href="#">Xứ Nghệ</a></li>
                            <li><a href="#">Mực Luộc</a></li>
                            <li><a href="#">Mực Hấp</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


