
@{
    ViewBag.Title = "NhutTC";
}

<div class=" content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 dv-child-left">
                <h3 class="title">ĐẶC SẢN NHÚTTHANH CHƯƠNG</h3>
                <div class="content-top">
                    <div>
                        <div id="showText">
                            <p style="text-align: justify;">
                                <strong> Nhắc đến món ngon xứ Nghệ không thể không nhắc tới món nhút Thanh Chương. Món ăn dân dã này đã trở thành “thương hiệu” mà bất cứ du khách nào đến đây cũng muốn được một lần thưởng thức.</strong><br />
                                Nhút là cách gọi quen thuộc của người miền Trung, là quả mít muối mặn ăn với cơm cũng giống như món dưa muối của người miền Bắc. <br />
                                Ở xứ Nghệ có nhiều nơi làm nhút, nhưng nơi làm nhút phổ biến và ngon hơn cả là ở huyện Thanh Chương bởi nơi đây nổi tiếng trồng được giống mít ngon của tỉnh Nghệ An. Thường thì mỗi năm chỉ có một mùa mít, nên nhút được muối dùng để ăn quanh năm, tùy từng mùa mà chế biến những món ăn khác nhau.
                                <br />
                                <a href="#" alt="" *="" class="lightbox">
                                    <img src="~/Content/Kham-pha/nhut-thanh-chuong2-024d0.jpg" alt="Bánh mướt xứ Nghệ" border="0">
                                </a>
                                <br />
                                Nghề làm nhút ở Thanh Chương có từ lâu đời, là thức ăn dân dã và phổ biến của mọi gia đình. Vật liệu để làm nhút gồm có mít xanh và muối trắng. Mít xanh, loại ương ương càng ngon. Mít đang ở trên cây, người ta hái xuống, gọt sạch vỏ ngoài, rửa cho hết nhựa rồi bỏ vào nong hoặc nia, dùng dao băm hoặc thái thành từng sợi. Sau đó cho muối trộn đều rồi bỏ vào cối giã sơ qua, dùng tay vò cho mềm ra. Cuối cùng bỏ vào vại sành khoả đều trên bề mặt, bỏ vỉ vào dằn đá cho nén xuống, đổ nước muối loãng vào cho ngập vỉ, đậy nắp che bụi, ủ khoảng 5-6 ngày. Hàng ngày trong bữa cơm, một bát nhút và nước mắm làm nước chấm là đủ. Ngoài ra nhút còn được chế biến thành món canh hoặc xào.                               
                                <br />
                                Vào mùa đông gió rét, nhút xào thịt ba chỉ nêm ớt, đường ăn với cơm nóng rất ngon, vị chua chua của nhút, ngọt của đường, cay cay của ớt, sợi nhút sánh lên quyện lấy mỡ của thịt ăn rất ngậy và giòn. Vào mùa hè, nhút có thể làm nộm tai heo nhấm rượu hay đem nấu canh cá chua, canh lạc ăn bùi bùi chua chua rất lạ miệng lại có tác dụng thanh nhiệt rất tốt cho cơ thể. Hay chỉ đơn giản, nhút chấm nước mắm tỏi, rau kinh giới ăn cơm canh cũng ngon không kém. 
                                <br />
                                Nhút ăn giòn giòn, mặn của muối, cay xè của ớt, và dậy mùi thơm của mít, thanh ngọt của mía đường…”quyện” một vị ngon rất đặc biệt.
                                <br />
                                Đến Nghệ An, ăn một bữa cơm quê dân dã với nhút du khách sẽ hiểu hơn về con người và sự đậm đà xứ Nghệ.
                            </p>
                            <p style="text-align:right;">
                                <strong>Nguyệt Dương</strong>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 dv-child-right">
                <div class="product">
                    <div class="dv_content_leftsp">
                        <br />
                        <h3>DANH MỤC SẢN PHẨM</h3>
                        <ul class="dv_list_dmsp">
                            <li>
                                <a href="#">Món Ăn</a>
                                <span class="SHOW_menu_left" data="Mon-An">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Mon-An" style="overflow: hidden;">
                                    <li><a href="#">Cháo Lươn Vinh</a></li>
                                    <li><a href="#">Cháo Canh</a></li>
                                    <li><a href="#">Mực Nhảy Nướng Lò</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Bánh - Hoa - Quả</a>
                                <span class="SHOW_menu_left" data="Banh-Hoa-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Banh-Hoa-Qua" style="overflow: hidden;">
                                    <li><a href="#">Bánh Đa Đô Lương</a></li>
                                    <li><a href="#">Bánh Mướt Giò</a></li>
                                    <li><a href="#">Bánh Gai</a></li>
                                    <li><a href="#">Bánh Lá Gói</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Làm Quà</a>
                                <span class="SHOW_menu_left" data="Lam-Qua">+</span>
                                <ul class="dv_list_dmsp_2 ul-data-Lam-Qua" style="overflow: hidden;">
                                    <li><a href="#">Nhút Thanh Chương</a></li>
                                    <li><a href="#">Tương Nam Đàn</a></li>
                                    <li><a href="#">Bánh Đa</a></li>
                                    <li><a href="#">Cam Xã Đoài</a></li>
                                </ul>
                            </li>
                        </ul>
                        <script type="text/javascript">
                            $(".SHOW_menu_left").click(function () {
                                var data = $(this).attr('data');
                                var data_text = $(this).html();
                                if (data_text == "+") {
                                    $(".SHOW_menu_left").each(function (index) {
                                        if ($(this).html() == "-") {
                                            $(this).html('+');
                                        }
                                    });
                                    $(this).html("-");
                                    $(".dv_list_dmsp_2").hide('500');
                                    $(".ul-data-" + data).show('500');
                                }
                                else if (data_text == "-") {
                                    $(this).html("+");
                                    $(".ul-data-" + data).hide('500');
                                }
                            });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>ViDeo</h3>
                        <iframe class="video" src="https://www.youtube.com/embed/XE44nT80fmk" frameborder="0" allowfullscreen></iframe>
                        <script type="text/javascript" src="/templates/1_shop_test/js/jquery.marquee.min.js"></script>
                        <script>
                            $('.marqueew').marquee(
                                {
                                    duration: 19000, gap: 0, delayBeforeStart: 0,
                                    direction: 'up',
                                    duplicated: true,
                                    pauseOnHover: true,
                                    startVisible: true
                                });
                        </script>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>TIN TỨC HOT</h3>
                        <div id="newsRight">
                            <a href="#" title="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <img src="~/Content/image/ruoi.JPG" width="230" alt="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                <h4>Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <img src="~/Content/image/tuong2.jpg" width="230" alt="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                <h4>Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Bữa cỗ trong văn hóa ẩm thực xứ Nghệ">
                                <img src="~/Content/image/bua-co-trong-van-hoa-am-thuc-xu-nghe-1.jpg" width="230" alt="Hòa chung trong bức tranh văn hóa nông nghiệp lúa nước, người dân xứ Nghệ cũng mang những nét truyền">
                                <h4>Bữa cỗ trong văn hóa ẩm thực xứ Nghệ</h4>
                                <div class="clear"></div>
                            </a>
                            <a href="#" title="Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua">
                                <img src="~/Content/image/camxadoai.jpg" width="230" alt="Loại cam đặc biệt chỉ trồng trên vùng đất Xã Đoài, Nghệ An mới có vị thơm, ngọt ...">
                                <h4>Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua</h4>
                                <div class="clear"></div>
                            </a>

                        </div>
                    </div>
                    <div class="dv_content_leftsp">
                        <h3>Tags</h3>
                        <ul class="tags_links">
                            <li><a href="./GioiThieu">Đất Hồng Lam</a></li>
                            <li><a href="#">Chim bồ câu </a></li>
                            <li><a href="#">Thịt chó </a></li>
                            <li><a href="#">Xứ Nghệ</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


