
@{
    ViewBag.Title = "SanPham";
}
<link href="~/Content/sanpham.css" rel="stylesheet" />
<div id="conten">
    <article>
        <section class="content gallery pad1" style="padding:0">
            <div class="midle_main_idclass fix1200_cus1">
                <div class="about-team">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 dv-child-left">
                                <h3 class="title">Sản Phẩm</h3>
                                <div class="servc-grids">
                                    <div class="row">
                                        <!--  -->
                                        <div class="col-md-4 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                                            <div class="dv-sanpham-child">
                                                <a href="#"><img class="img-responsive" src="~/Content/sanpham/Camu.jpg"  alt="Cá Mú Cửa Lò"></a>
                                                <h4><a href="#">Cá Mú Cửa Lò</a></h4>
                                                <div class="price-sp">
                                                    200,000 <sup> đ</sup> 
                                                </div>
                                                <a href="#" class="btn btn-banh">Xem ngay</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                                            <div class="dv-sanpham-child">
                                                <a href="#"><img class="img-responsive" style="height:100%; width:100%" src="~/Content/sanpham/muc-nhay-cua-lo-1000.jpg" alt="Mực tươi cửa Lò"></a>
                                                <h4><a href="#">Mực tươi cửa Lò</a></h4>
                                                <div class="price-sp">
                                                    250,000 <sup> đ</sup>
                                                </div>
                                                <a href="#" class="btn btn-banh">Xem ngay</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                                            <div class="dv-sanpham-child">
                                                <a href="#"><img class="img-responsive" style="height:100%; width:100%" src="~/Content/sanpham/CaBacMa.jpg" alt="Cá bạc má Cửa Lò"></a>
                                                <h4><a href="#">Cá bạc má Cửa Lò</a></h4>
                                                <div class="price-sp">
                                                    100,000 <sup> đ</sup>
                                                </div>
                                                <a href="#" class="btn btn-banh">Xem ngay</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                                            <div class="dv-sanpham-child">
                                                      <a href="#"><img class="img-responsive" src="~/Content/sanpham/gio be.jpg" alt="Giò Bê"></a>
                                                      <h4><a href="#">Giò Bê</a></h4>
                                                      <div class="price-sp">
                                                          250,000 <sup> đ</sup>
                                                      </div>
                                                      <a href="#" class="btn btn-banh">Xem ngay</a>
                                             </div>
                                         </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                                            <div class="dv-sanpham-child">
                                                <a href="#"><img class="img-responsive" style="height:100%; width:100%" src="~/Content/sanpham/catrich.jpg" alt="Cá trích"></a>
                                                <h4><a href="#">Cá trích</a></h4>
                                                <div class="price-sp">
                                                    60,000 <sup> đ</sup>
                                                </div>
                                                <a href="#" class="btn btn-banh">Xem ngay</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                                            <div class="dv-sanpham-child">
                                                <a href="#"><img class="img-responsive" style="height:100%; width:100%" src="~/Content/sanpham/nuocnam.JPG" alt="Nước mắm cá cơm Cửa Hội"></a>
                                                <h4><a href="#">Nước mắm cá cơm Cửa Hội</a></h4>
                                                <div class="price-sp">
                                                    110,000 <sup> đ</sup>
                                                </div>
                                                <a href="#" class="btn btn-banh">Xem ngay</a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                                            <div class="dv-sanpham-child">
                                                <a href="#"><img class="img-responsive" style="height:100%; width:100%" src="~/Content/sanpham/tuong.png" alt="Tương Nam Đàn"></a>
                                                <h4><a href="#">Tương Nam Đàn</a></h4>
                                                <div class="price-sp">
                                                    200,000 <sup> đ</sup>
                                                </div>
                                                <a href="#" class="btn btn-banh">Xem ngay</a>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                                            <div class="dv-sanpham-child">
                                                <a href="#"><img class="img-responsive"style="height:100%; width:100%" src="~/Content/sanpham/Banh gai.jpg" alt="Bánh Gai"></a>
                                                <h4><a href="#">Bánh Gai</a></h4>
                                                <div class="price-sp">
                                                    70,000 <sup> đ</sup>
                                                </div>
                                                <a href="#" class="btn btn-banh">Xem ngay</a>
                                            </div>
                                        </div>


                                        <div class="col-md-4 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                                            <div class="dv-sanpham-child">
                                                <a href="#"><img class="img-responsive" style="height:100%; width:100%" src="~/Content/sanpham/banhda.png"  alt="Bánh Đa Đô Lương"></a>
                                                <h4><a href="#">Bánh Đa Đô Lương</a></h4>
                                                <div class="price-sp">
                                                    50,000 <sup> đ</sup>
                                                </div>
                                                <a href="#" class="btn btn-banh">Xem ngay</a>
                                            </div>
                                        </div>
                                        <div class="page_break page_break_cus1"></div>
                                        <!--  -->
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div class="col-md-4 dv-child-right">
                                <div class="product">
                                    <div class="dv_content_leftsp">
                                        <br />
                                        <h3>DANH MỤC</h3>
                                        <ul class="dv_list_dmsp">
                                            <li>
                                                <a href="#">Món Ăn</a>
                                                <span class="SHOW_menu_left" data="Mon-An">+</span>
                                                <ul class="dv_list_dmsp_2 ul-data-Mon-An" style="overflow: hidden;">
                                                    <li><a href="#">Cháo Lươn Vinh</a></li>
                                                    <li><a href="#">Cháo Canh</a></li>
                                                    <li><a href="#">Mực Nhảy Nướng Lò</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Bánh - Hoa - Quả</a>
                                                <span class="SHOW_menu_left" data="Banh-Hoa-Qua">+</span>
                                                <ul class="dv_list_dmsp_2 ul-data-Banh-Hoa-Qua" style="overflow: hidden;">
                                                    <li><a href="#">Bánh Đa Đô Lương</a></li>
                                                    <li><a href="#">Bánh Mướt Giò</a></li>
                                                    <li><a href="#">Bánh Gai</a></li>
                                                    <li><a href="#">Bánh Lá Gói</a></li>
                                                    <li><a href="#">Cam Xã Đoài</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Làm Quà</a>
                                                <span class="SHOW_menu_left" data="Lam-Qua">+</span>
                                                <ul class="dv_list_dmsp_2 ul-data-Lam-Qua" style="overflow: hidden;">
                                                    <li><a href="#">Nhút Thanh Chương</a></li>
                                                    <li><a href="#">Tương Nam Đàn</a></li>
                                                    <li><a href="#">Bánh Đa</a></li>
                                                    <li><a href="#">Cam Xã Đoài</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <script type="text/javascript">
                                $(".SHOW_menu_left").click(function () {
                                    var data = $(this).attr('data');
                                    var data_text = $(this).html();
                                    if (data_text == "+")
                                    {
                                        $(".SHOW_menu_left").each(function (index) {
                                            if ($(this).html() == "-") {
                                                $(this).html('+');
                                            }
                                        });
                                        $(this).html("-");
                                        $(".dv_list_dmsp_2").hide('500');
                                        $(".ul-data-" + data).show('500');
                                    }
                                    else if (data_text == "-")
                                    {
                                        $(this).html("+");
                                        $(".ul-data-" + data).hide('500');
                                    }
                                });
                                        </script>
                                    </div>
                                    <div class="dv_content_leftsp">
                                        <h3>SẢN PHẨM BÁN CHẠY</h3>


                                    </div>
                                    <div class="dv_content_leftsp">
                                        <h3>TIN TỨC HOT</h3>
                                        <div id="newsRight">
                                            <a href="#" title="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                                <img src="~/Content/image/ruoi.JPG" width="230" alt="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                                                <h4>Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ</h4>
                                                <div class="clear"></div>
                                            </a>
                                            <a href="#" title="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                                <img src="~/Content/image/tuong2.jpg" width="230" alt="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                                                <h4>Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An</h4>
                                                <div class="clear"></div>
                                            </a>
                                            <a href="#" title="Bữa cỗ trong văn hóa ẩm thực xứ Nghệ">
                                                <img src="~/Content/image/bua-co-trong-van-hoa-am-thuc-xu-nghe-1.jpg" width="230" alt="Hòa chung trong bức tranh văn hóa nông nghiệp lúa nước, người dân xứ Nghệ cũng mang những nét truyền">
                                                <h4>Bữa cỗ trong văn hóa ẩm thực xứ Nghệ</h4>
                                                <div class="clear"></div>
                                            </a>
                                            <a href="#" title="Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua">
                                                <img src="~/Content/image/camxadoai.jpg" width="230" alt="Loại cam đặc biệt chỉ trồng trên vùng đất Xã Đoài, Nghệ An mới có vị thơm, ngọt ...">
                                                <h4>Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua</h4>
                                                <div class="clear"></div>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="dv_content_leftsp">
                                        <h3>Tags</h3>
                                        <ul class="tags_links">
                                            <li><a href="./GioiThieu">Đất Hồng Lam</a></li>
                                            <li><a href="#">Chim bồ câu </a></li>
                                            <li><a href="#">Thịt chó </a></li>
                                            <li><a href="#">Xứ Nghệ</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>		<div class="clear"></div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</div>


