

@{
    ViewBag.Title = "News";
}
<link href="~/Content/News.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-8 dv-child-left">
            <h3 class="title">Tin tức</h3>
            <div class="content-top">
                <div class="cont-tintuc dm_tintuc">
                    <!--  -->
                    <div class="one-news">
                        <div class="news-img">
                            <a href="~/Views/Home/Tintuc1.cshtml"><img src="~/Content/image/camxadoai.jpg" alt="Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua"></a>
                        </div>
                        <div class="news-view">
                            <div class="tieude_tintuc"><a href="~/Views/Home/Tintuc1.cshtml">Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua</a></div>
                            <div class="news-day">Ngày đăng: </div>
                            <div class="dv-mota-tintuc">Loại cam đặc biệt chỉ trồng trên vùng đất Xã Đoài, Nghệ An mới có vị thơm, ngọt ...</div>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="one-news">
                        <div class="news-img">
                            <a href="#"><img src="~/Content/image/ruoi.JPG" alt="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ"></a>
                        </div>
                        <div class="news-view">
                            <div class="tieude_tintuc"><a href="#">Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ</a></div>
                            <div class="news-day">Ngày đăng: </div>
                            <div class="dv-mota-tintuc">Xứ Nghệ vốn nổi tiếng với nhiều món ăn ngon, đặc trưng của vùng miền Trung. Đại đa số các món ăn đều dân dã, đơn giản và không cầu kỳ chút nào...</div>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="one-news">
                        <div class="news-img">
                            <a href="#"><img src="~/Content/image/tuong2.jpg" alt="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An"></a>
                        </div>
                        <div class="news-view">
                            <div class="tieude_tintuc"><a href="#">Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An</a></div>
                            <div class="news-day">Ngày đăng: </div>
                            <div class="dv-mota-tintuc">Nghệ An là mảnh đất nổi tiếng với sơn thủy hữu tình ngoài vẻ đẹp hoang sơ vốn có thì nơi đây cũng là mảnh đất địa linh nhân kiệt... đặc sản đậm chất Nghệ An để mua về làm quà cho người thân...</div>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="one-news">
                        <div class="news-img">
                            <a href="#"><img src="~/Content/image/bua-co-trong-van-hoa-am-thuc-xu-nghe-1.jpg" alt="Bữa cỗ trong văn hóa ẩm thực xứ Nghệ"></a>
                        </div>
                        <div class="news-view">
                            <div class="tieude_tintuc"><a href="#">Bữa cỗ trong văn hóa ẩm thực xứ Nghệ</a></div>
                            <div class="news-day">Ngày đăng: </div>
                            <div class="dv-mota-tintuc">Hòa chung trong bức tranh văn hóa nông nghiệp lúa nước, người dân xứ Nghệ cũng mang những nét truyền thống của bữa cỗ Việt...</div>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="page_break page_break_cus1">

                    </div>
                    <!--  -->
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 dv-child-right">
            <div class="product">
                <div class="dv_content_leftsp">
                    <br />
                    <h3>DANH MỤC</h3>
                    <ul class="dv_list_dmsp">
                        <li>
                            <a href="#">Món Ăn</a>
                            <span class="SHOW_menu_left" data="Mon-An">+</span>
                            <ul class="dv_list_dmsp_2 ul-data-Mon-An" style="overflow: hidden;">
                                <li><a href="#">Cháo Lươn Vinh</a></li>
                                <li><a href="#">Cháo Canh</a></li>
                                <li><a href="#">Mực Nhảy Nướng Lò</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Bánh - Hoa - Quả</a>
                            <span class="SHOW_menu_left" data="Banh-Hoa-Qua">+</span>
                            <ul class="dv_list_dmsp_2 ul-data-Banh-Hoa-Qua" style="overflow: hidden;">
                                <li><a href="#">Bánh Đa Đô Lương</a></li>
                                <li><a href="#">Bánh Mướt Giò</a></li>
                                <li><a href="#">Bánh Gai</a></li>
                                <li><a href="#">Bánh Lá Gói</a></li>
                                <li><a href="#">Cam Xã Đoài</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Làm Quà</a>
                            <span class="SHOW_menu_left" data="Lam-Qua">+</span>
                            <ul class="dv_list_dmsp_2 ul-data-Lam-Qua" style="overflow: hidden;">
                                <li><a href="#">Nhút Thanh Chương</a></li>
                                <li><a href="#">Tương Nam Đàn</a></li>
                                <li><a href="#">Bánh Đa</a></li>
                                <li><a href="#">Cam Xã Đoài</a></li>
                            </ul>
                        </li>
                    </ul>
                    <script type="text/javascript">
                                $(".SHOW_menu_left").click(function () {
                                    var data = $(this).attr('data');
                                    var data_text = $(this).html();
                                    if (data_text == "+")
                                    {
                                        $(".SHOW_menu_left").each(function (index) {
                                            if ($(this).html() == "-") {
                                                $(this).html('+');
                                            }
                                        });
                                        $(this).html("-");
                                        $(".dv_list_dmsp_2").hide('500');
                                        $(".ul-data-" + data).show('500');
                                    }
                                    else if (data_text == "-")
                                    {
                                        $(this).html("+");
                                        $(".ul-data-" + data).hide('500');
                                    }
                                });
                    </script>
                </div>
                <div class="dv_content_leftsp">
                    <h3>ViDeo</h3>
                    <iframe class="video" src="https://www.youtube.com/embed/Akfngk1mkks" frameborder="0" allowfullscreen></iframe>
                    <script type="text/javascript" src="/templates/1_shop_test/js/jquery.marquee.min.js"></script>
                    <script>
                                $('.marqueew').marquee(
                                    {
                                        duration: 19000, gap: 0, delayBeforeStart: 0,
                                        direction: 'up',
                                        duplicated: true,
                                        pauseOnHover: true,
                                        startVisible: true
                                    });
                    </script>
                </div>
                <div class="dv_content_leftsp">
                    <h3>TIN TỨC HOT</h3>
                    <div id="newsRight">
                        <a href="#" title="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                            <img src="~/Content/image/ruoi.JPG" width="230" alt="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                            <h4>Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ</h4>
                            <div class="clear"></div>
                        </a>
                        <a href="#" title="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                            <img src="~/Content/image/tuong2.jpg" width="230" alt="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                            <h4>Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An</h4>
                            <div class="clear"></div>
                        </a>
                        <a href="#" title="Bữa cỗ trong văn hóa ẩm thực xứ Nghệ">
                            <img src="~/Content/image/bua-co-trong-van-hoa-am-thuc-xu-nghe-1.jpg" width="230" alt="Hòa chung trong bức tranh văn hóa nông nghiệp lúa nước, người dân xứ Nghệ cũng mang những nét truyền">
                            <h4>Bữa cỗ trong văn hóa ẩm thực xứ Nghệ</h4>
                            <div class="clear"></div>
                        </a>
                        <a href="#" title="Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua">
                            <img src="~/Content/image/camxadoai.jpg" width="230" alt="Loại cam đặc biệt chỉ trồng trên vùng đất Xã Đoài, Nghệ An mới có vị thơm, ngọt ...">
                            <h4>Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua</h4>
                            <div class="clear"></div>
                        </a>

                    </div>
                </div>
                <div class="dv_content_leftsp">
                    <h3>Tags</h3>
                    <ul class="tags_links">
                        <li><a href="./GioiThieu">Đất Hồng Lam</a></li>
                        <li><a href="#">Chim bồ câu </a></li>
                        <li><a href="#">Thịt chó </a></li>
                        <li><a href="#">Xứ Nghệ</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

    </div>
</div>


