@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h3 class="title"> ĐẶC SẢN NỔI BẬT</h3>
    <div class="content-top">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                <div class="dv-sanpham-child">
                    <a href="#"><img class="img-responsive" src="~/Content/image/luonvinh.jpg" alt="Cháo Lươn Vinh" /></a>
                    <h4>
                        <a href="#">Cháo Lươn Vinh</a>
                        <a href="./LuonVinh" class="btn btn-banh">
                            Khám Phá
                        </a>
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                <div class="dv-sanpham-child">
                    <a href="#"><img class="img-responsive" src="~/Content/imageindex/mươt-gio.jpg" alt="Bánh Mướt Giò" /></a>
                    <h4>
                        <a href="#">Bánh Mướt Giò</a>
                        <a href="#" class="btn btn-banh">
                            Khám Phá
                        </a>
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                <div class="dv-sanpham-child">
                    <a href="#"><img class="img-responsive" src="~/Content/imageindex/nhutthanhchuong.jpg" alt="Nhút Thanh Chương" /></a>
                    <h4>
                        <a href="#">Nhút Thanh Chương</a>
                        <a href="#" class="btn btn-banh">
                            Khám Phá
                        </a>
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                <div class="dv-sanpham-child">
                    <a href="#"><img class="img-responsive" src="~/Content/image/banh gai.jpg" alt="Bánh Gai" /></a>
                    <h4>
                        <a href="#">Bánh Gai</a>
                        <a href="#" class="btn btn-banh">
                            Khám Phá
                        </a>
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                <div class="dv-sanpham-child">
                    <a href="#"><img class="img-responsive" src="~/Content/imageindex/Cháo-canh1.jpg" alt="Cháo Canh" /></a>
                    <h4>
                        <a href="#">Cháo Canh</a>
                        <a href="#" class="btn btn-banh">
                            Khám Phá
                        </a>
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                <div class="dv-sanpham-child">
                    <a href="#"><img class="img-responsive" src="~/Content/imageindex/banhđaljpg.jpg" alt="Bánh Đa Đô Lương" /></a>
                    <h4>
                        <a href="#">Bánh Đa Đô Lương</a>
                        <a href="#" class="btn btn-banh">
                            Khám Phá
                        </a>
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                <div class="dv-sanpham-child">
                    <a href="#"><img class="img-responsive" src="~/Content/imageindex/lagoi.jpg" alt="Bánh Lá Gói" /></a>
                    <h4>
                        <a href="#">Bánh Lá Gói</a>
                        <a href="#" class="btn btn-banh">
                            Khám Phá
                        </a>
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 col-min-12 look dv-sanpham">
                <div class="dv-sanpham-child">
                    <a href="#"><img class="img-responsive" src="~/Content/imageindex/Mực-nháy-nướng-Cửa-Lò.jpg" alt="Mực Nháy Nướng" /></a>
                    <h4>
                        <a href="#">Mực Nháy Nướng Cửa Lò</a>
                        <a href="#" class="btn btn-banh">
                            Khám Phá
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<h3 class="title">Tin Tức</h3>
<div class="row">
    <div class="col-md-6 col-sm-6 content-bottom-tintuc">
        <div class="dv-tintuc">
            <div class="dv-tinleft">
                <a href="~/Views/Home/Tintuc1.cshtml"><img class="img-responsive" src="~/Content/image/camxadoai.jpg" alt="Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua"></a>
            </div>
            <div class="dv-tinright">
                <div class="dv-homett">
                    <div class="tit"><a href="~/Views/Home/Tintuc1.cshtml">Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua</a></div>
                    <p>Loại cam đặc biệt chỉ trồng trên vùng đất Xã Đoài, Nghệ An mới có vị thơm, ngọt ...</p>
                </div>
                <a href="~/Views/Home/Tintuc1.cshtml" class="hvr-icon-wobble-horizontal">Xem ngay</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 content-bottom-tintuc">
        <div class="dv-tintuc">
            <div class="dv-tinleft">
                <a href="#"><img class="img-responsive" src="~/Content/image/ruoi.JPG" alt="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ"></a>
            </div>
            <div class="dv-tinright">
                <div class="dv-homett">
                    <div class="tit"><a href="#">Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ</a></div>
                    <p>Xứ Nghệ vốn nổi tiếng với nhiều món ăn ngon, đặc trưng của vùng miền Trung. Đại đa số các món ăn đều dân dã, đơn giản và không cầu kỳ chút nào...</p>
                </div>
                <a href="#" class="hvr-icon-wobble-horizontal">Xem ngay</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 content-bottom-tintuc">
        <div class="dv-tintuc">
            <div class="dv-tinleft">
                <a href="#"><img class="img-responsive" src="~/Content/image/tuong2.jpg" alt="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An"></a>
            </div>
            <div class="dv-tinright">
                <div class="dv-homett">
                    <div class="tit"><a href="#">Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An</a></div>
                    <p>Nghệ An là mảnh đất nổi tiếng với sơn thủy hữu tình ngoài vẻ đẹp hoang sơ vốn có thì nơi đây cũng là mảnh đất địa linh nhân kiệt... đặc sản đậm chất Nghệ An để mua về làm quà cho người thân...</p>
                </div>
                <a href="#" class="hvr-icon-wobble-horizontal">Xem ngay</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>  <div class="col-md-6 col-sm-6 content-bottom-tintuc">
        <div class="dv-tintuc">
            <div class="dv-tinleft">
                <a href="#"><img class="img-responsive" src="~/Content/image/bua-co-trong-van-hoa-am-thuc-xu-nghe-1.jpg" alt="Bữa cỗ trong văn hóa ẩm thực xứ Nghệ"></a>
            </div>
            <div class="dv-tinright">
                <div class="dv-homett">
                    <div class="tit"><a href="#">Bữa cỗ trong văn hóa ẩm thực xứ Nghệ</a></div>
                    <p>Hòa chung trong bức tranh văn hóa nông nghiệp lúa nước, người dân xứ Nghệ cũng mang những nét truyền thống của bữa cỗ Việt...</p>
                </div>
                <a href="#" class="hvr-icon-wobble-horizontal">Xem ngay</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

