@{
    ViewBag.title = "TuongNamDan";
}
<link href="~/Content/SiteDetail.css" rel="stylesheet" />
<div class="container">
    <h3 class="title" style="text-align:left">Tương Nam Đàn</h3>
    <div class="row">
        <div class="col-md-8 dv-child-left">
            <div class="col-md-4">
                <div class="simpleLens-gallery-container main_col_left main_col_left_cus1" id="demo-1">
                    <div class="simpleLens">
                        <div class="simpleLens-big-image">
                            <a class="simpleLens-lens-image" data-lens-image="http://localhost:49826/Content/sanpham/tuong.png">
                                <img alt="Tương Nam Đàn" class="simpleLens-big-image" src="http://localhost:49826/Content/sanpham/tuong.png">
                            </a>
                        </div>
                    </div>

                    <div class="simpleLens-thumbnails-container body_thumb_content body_thumb_content_cus1">
                        <a href="JavaScript:void(0);" class="simpleLens-thumbnail-wrapper" data-lens-image="http://localhost:49826/Content/sanpham/tuong.png" data-big-image="http://localhost:49826/Content/sanpham/tuong.png">
                            <img class="border_images" src="http://localhost:49826/Content/sanpham/tuong.png" width="50">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="main_col_right main_col_right_cus1">
                    <div class="list_body_left list_body_left_cus1">Hãng sản xuất:</div>
                    <div class="list_body_right list_body_right_cus1"> &nbsp;</div>
                    <div class="list_body_left list_body_left_cus1 soluong_cus">Số lượng:</div>
                    <div class="list_body_right list_body_right_cus1 soluong_cus">0 &nbsp;</div>
                    <div class="list_body_left list_body_left_cus1 tinhtrang_cus" style="display: none">Số lượng:</div>
                    <div class="list_body_right list_body_right_cus1 tinhtrang_cus" style="display: none"> &nbsp;</div>
                    <div class="list_body_left list_body_left_cus1">Mã sản phẩm:</div>
                    <div class="list_body_right list_body_right_cus1"> &nbsp;</div>
                    <div class="clear"></div>
                    <div class="line_top_1 line_top_cus1"></div>
                    <div class="clear"></div>
                    <span class="glo-tgiagoc" style="display:none">Giá bán</span>
                    <div class="gia_thanhtien gia_thanhtien_cus1"><span class="glo-tgiakm" style="display:none"></span>80,000 VND</div>
                    <div class="product_details_cart">
                        <!-- update by 1k 24-3-2017 v1-->
                        <div class="product-quantity">
                            <div class="numbers-row">
                                <div class="buttontext left" onclick="ADD_num_quantity('-')">-</div>
                                <input class="intext left" type="text" name="quantity" value="1" id="input-quantity">
                                <div class="buttontext left" onclick="ADD_num_quantity('+')">+</div>
                                <!--update by 5k 26-7-2016-->
                                <div class="left icon_body icon_body_sosanh_cus1">
                                    <a href="JavaScript:ajax_action(2381720,2);">
                                        <i class="fa fa-retweet"></i>
                                    </a>
                                </div>
                                <div class="left icon_body icon_body_love_cus1">
                                    <a href="JavaScript:ajax_action(2381720,1);">
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                </div>
                                <!--end update by 5k 26-7-2016-->
                                <div class="left icon_body icon_body_love_cus1">
                                    <a href="http://localhost:49826/Content/sanpham/tuong.png" class="lightbox">
                                        <i class="fa fa-search-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product-bottom">
                            <button onclick="location.href='/cart-add/2381720/'+$('#input-quantity').val();" type="button" id="button-cart" class="button btn-cart shopng-btn">Thêm vào giỏ</button>
                        </div>
                        <script type="text/javascript">
                            function ADD_num_quantity(loai) {
                                var num = $("#input-quantity").val();
                                if (isNaN(num)) {
                                    num = 1;
                                }
                                if (loai == '-' && num > 1) num--;
                                else if (loai == '+' && num < 100000) num++;
                                $("#input-quantity").val(num);
                            }
                        </script>
                        <!-- end update by 1k 24-3-2017 v1-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 dv-child-right">
            <div class="product">
                <div class="dv_content_leftsp">
                    <br />
                    <h3>DANH MỤC</h3>
                    <ul class="dv_list_dmsp">
                        <li>
                            <a href="#">Món Ăn</a>
                            <span class="SHOW_menu_left" data="Mon-An">+</span>
                            <ul class="dv_list_dmsp_2 ul-data-Mon-An" style="overflow: hidden;">
                                <li><a href="#">Cháo Lươn Vinh</a></li>
                                <li><a href="#">Cháo Canh</a></li>
                                <li><a href="#">Mực Nhảy Nướng Lò</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Bánh - Hoa - Quả</a>
                            <span class="SHOW_menu_left" data="Banh-Hoa-Qua">+</span>
                            <ul class="dv_list_dmsp_2 ul-data-Banh-Hoa-Qua" style="overflow: hidden;">
                                <li><a href="#">Bánh Đa Đô Lương</a></li>
                                <li><a href="#">Bánh Mướt Giò</a></li>
                                <li><a href="#">Bánh Gai</a></li>
                                <li><a href="#">Bánh Lá Gói</a></li>
                                <li><a href="#">Cam Xã Đoài</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Làm Quà</a>
                            <span class="SHOW_menu_left" data="Lam-Qua">+</span>
                            <ul class="dv_list_dmsp_2 ul-data-Lam-Qua" style="overflow: hidden;">
                                <li><a href="#">Nhút Thanh Chương</a></li>
                                <li><a href="#">Tương Nam Đàn</a></li>
                                <li><a href="#">Bánh Đa</a></li>
                                <li><a href="#">Cam Xã Đoài</a></li>
                            </ul>
                        </li>
                    </ul>
                    <script type="text/javascript">
                        $(".SHOW_menu_left").click(function () {
                            var data = $(this).attr('data');
                            var data_text = $(this).html();
                            if (data_text == "+") {
                                $(".SHOW_menu_left").each(function (index) {
                                    if ($(this).html() == "-") {
                                        $(this).html('+');
                                    }
                                });
                                $(this).html("-");
                                $(".dv_list_dmsp_2").hide('500');
                                $(".ul-data-" + data).show('500');
                            }
                            else if (data_text == "-") {
                                $(this).html("+");
                                $(".ul-data-" + data).hide('500');
                            }
                        });
                    </script>
                </div>
                <div class="dv_content_leftsp">
                    <h3>SẢN PHẨM BÁN CHẠY</h3>


                </div>
                <div class="dv_content_leftsp">
                    <h3>TIN TỨC HOT</h3>
                    <div id="newsRight">
                        <a href="#" title="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                            <img src="~/Content/image/ruoi.JPG" width="230" alt="Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ">
                            <h4>Những món đặc sản dân dã, ngon quên lối về của xứ Nghệ</h4>
                            <div class="clear"></div>
                        </a>
                        <a href="#" title="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                            <img src="~/Content/image/tuong2.jpg" width="230" alt="Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An">
                            <h4>Tới Nghệ An nên mua gì làm quà? Đặc sản nổi tiếng Nghệ An</h4>
                            <div class="clear"></div>
                        </a>
                        <a href="#" title="Bữa cỗ trong văn hóa ẩm thực xứ Nghệ">
                            <img src="~/Content/image/bua-co-trong-van-hoa-am-thuc-xu-nghe-1.jpg" width="230" alt="Hòa chung trong bức tranh văn hóa nông nghiệp lúa nước, người dân xứ Nghệ cũng mang những nét truyền">
                            <h4>Bữa cỗ trong văn hóa ẩm thực xứ Nghệ</h4>
                            <div class="clear"></div>
                        </a>
                        <a href="#" title="Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua">
                            <img src="~/Content/image/camxadoai.jpg" width="230" alt="Loại cam đặc biệt chỉ trồng trên vùng đất Xã Đoài, Nghệ An mới có vị thơm, ngọt ...">
                            <h4>Cam Xã Đoài đặc sản xứ Nghệ có tiền cũng khó mua</h4>
                            <div class="clear"></div>
                        </a>

                    </div>
                </div>
                <div class="dv_content_leftsp">
                    <h3>Tags</h3>
                    <ul class="tags_links">
                        <li><a href="./GioiThieu">Đất Hồng Lam</a></li>
                        <li><a href="#">Chim bồ câu </a></li>
                        <li><a href="#">Thịt chó </a></li>
                        <li><a href="#">Xứ Nghệ</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>


        </div>
    </div>
</div>